<!--
Copyright 2017 The WPT Dashboard Project. All rights reserved.
Use of this source code is governed by a BSD-style license that can be
found in the LICENSE file.
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../bower_components/paper-styles/color.html">
<link rel="import" href="path-part.html">
<link rel="import" href="test-runs.html">
<link rel="import" href="test-file-results.html">
<link rel="import" href="test-run.html">
<link rel="import" href="self-navigator.html">
<link rel="import" href="test-search.html">
<link rel="import" href="results-navigation.html">

<dom-module id="wpt-interop">
<template>
  <style>
    :host {
      display: block;
      font-size: 15px;
    }

    section.runs {
      padding: 1em 0;
      margin: 1em;
    }

    section.search {
      border-bottom: solid 1px #ccc;
      padding-bottom: 1em;
      margin-bottom: 1em;
    }

    section.search .path {
      margin-top: 1em;
    }

    table {
      width: 100%;
      border-collapse: collapse;
    }


    hr {
      margin: 24px 0;
      height: 1px;
      border: 0;
      background-color: #ccc;
    }

    .th-label {
      padding: 0.2em 0.5em;
    }

    tr.spec {
      background-color: var(--paper-grey-200);
    }

    td.score {
      text-align: center;
    }

    tr td {
      padding: 0 0.5em;
    }

    tr.spec td {
      padding: 0.2em 0.5em;
      border: solid 1px var(--paper-grey-300);
    }

    .path {
      margin-bottom: 16px;
    }

    .path-separator {
      padding: 0 0.1em;
    }

    .links {
      margin-bottom: 1em;
    }

    .info {
      padding: 0.5em;
      background-color: var(--paper-blue-100);
      margin-bottom: 1em;
      margin-top: 2em;
      border-left: solid 4px var(--paper-blue-300);
    }

    .info small {
      float: right;
    }

    @media (max-width: 800px) {
      table tr td:first-child::after {
        content: "";
        display: inline-block;
        vertical-align: top;
        min-height: 30px;
      }
    }
  </style>

  <results-navigation tab="interop"
                      path="[[encodedPath]]"
                      query="[[query]]">
  </results-navigation>

  <section class="search">
    <div class="path">
      <a href="/interop/" on-click="navigate">wpt</a>
      <template is="dom-repeat" items="{{ splitPathIntoLinkedParts(path) }}" as="part">
        <span class="path-separator">/</span>
        <a href="/interop{{ part.path }}" on-click="navigate">{{ part.name }}</a>
      </template>
    </div>

    <template is="dom-if" if="{{ !pathIsATestFile }}">
      <test-search query='{{search}}' items='[[allMetrics.data]]' item-key='dir' results='{{searchResults}}'></test-search>
    </template>

    <template is="dom-if" if="{{ pathIsATestFile }}">
      <div class="links">
        <ul>
          <li>
            <a href$="https://github.com/web-platform-tests/wpt/blob/master[[path]]"
              target="_blank">View source on GitHub</a></li>
          <li><a href$="[[scheme]]://w3c-test.org[[path]]" target="_blank">Run in your
            browser on w3c-test.org</a></li>
        </ul>
      </div>
    </template>
  </section>

  <template is="dom-if" if="{{ !pathIsATestFile }}">
    <section class="runs">
      <table>
        <thead>
        <tr>
          <template is="dom-repeat" items="{{ passRateMetadata.test_runs }}"
                    as="testRun">
            <th>
              <test-run test-run="[[testRun]]"></test-run>
            </th>
          </template>
        </tr>
        </head>
      </table>
    </section>
  </template>

  <table>
    <thead>
      <tr>
        <th>Path</th>
        <template is="dom-if" if="{{ testRuns }}">
          <th colspan="100">Tests Passing in <var>X</var> / [[testRuns.length]] Browsers</th>
        </template>
      </tr>
      <tr>
        <th>&nbsp;</th>
        <!-- Repeats for as many different browser test runs are available, plus one -->
        <template is="dom-repeat" items="{{ thLabels }}" as="label">
          <th class="th-label">{{ label }}</th>
        </template>
      </tr>
    </thead>
    <tbody>
      <template is="dom-repeat" items="{{ displayedNodes }}" as="node">
        <tr>
          <td>
            <path-part path="{{ node.dir }}" is-dir="{{ !computePathIsATestFile(node.dir) }}" prefix="/interop" navigate="{{ bindNavigate() }}"></path-part>
          </td>

          <template is="dom-repeat" items="{{node.pass_rates}}" as="passRate" index-as="i">
            <td class='score' style="{{ passRateStyle(node.total, passRate, i) }}">{{ passRate }} / {{ node.total }}</td>
          </template>
        </tr>
      </template>
    </tbody>
  </table>

  <template is="dom-if" if="{{ pathIsATestFile }}">
    <hr>
    <test-file-results
        test-runs="[[passRateMetadata.test_runs]]"
        path="[[path]]">
    </test-file-results>
  </template>

</template>

<script>

  const INTEROP_COLORS = [
    [219,  68,  55], // --paper-red-500
    [255,  87,  34], // --paper-deep-orange-500
    [255, 152,   0], // --paper-orange-500
    [255, 235,  59], // --paper-yellow-500
    [118, 255,   3], // --paper-light-green-a200
  ];

  /* global TestRunsBase, SelfNavigation */
  class WPTInterop extends SelfNavigation(TestRunsBase) {
    static get is() {
      return 'wpt-interop';
    }
    static get properties() {
      return {
        passRateMetadata: Object,
        testRuns: {
          type: Array,
          computed: 'computeTestRuns(passRateMetadata)',
        },
        allMetrics: Object,
        displayedNodes: {
          type: Object,
          computed: 'computeDisplayedNodes(path, searchResults, allMetrics)'
        },
        testFileNames: {
          type: Array,
          value: [],
        },
        currentNode: {
          type: Object,
          computed: 'computeCurrentNode(allMetrics, path)'
        },
        thLabels: {
          type: Array,
          computed: 'computeThLabels(testRuns)'
        },
        search: {
          type: String,
          value: '',
        },
        searchResults: Array,
      };
    }

    async ready() {
      await super.ready();
      this.passRateMetadata = await fetch(`/api/interop${this.query}`).then(
        function(r) {
          if (!r.ok) {
            return Promise.reject('Failed to fetch interop data');
          }
          return r.json();
        });
      this.allMetrics = await this.fetchMetrics(this.passRateMetadata.url);
      if (this.allMetrics && this.allMetrics.data) {
        this.testFileNames = Array.from(Object.keys(this.allMetrics.data));
      }
    }

    async fetchMetrics(url) {
      const response = await window.fetch(url);
      return await response.json();
    }

    navigationPathPrefix() {
      return '/interop';
    }

    navigationQueryParams() {
      return this.queryParams;
    }

    computeThLabels(testRuns) {
      if (!testRuns) {
        return;
      }
      const numLabels = testRuns.length + 1;
      let labels = [];
      for (let i = 0; i < numLabels; i++) {
        labels[i] = `${i} / ${numLabels - 1}`;
      }
      return labels;
    }

    computeTestRuns(metadata) {
      return metadata && metadata.test_runs;
    }

    computeDisplayedNodes(path, searchResults, allMetrics) {
      if (!path || !allMetrics) {
        return null;
      }

      let data = this.searchResults || allMetrics.data;
      if (this.computePathIsATestFile(path)) {
        data = data.filter(node => node.dir === path);
      } else {
        data = data.filter(node => {
          return this.filterNode(path === '/' ? path : `${this.path}/`, node);
        });
      }

      return data;
    }

    filterNode(path, node) {
      if (!node.dir.startsWith(path)) {
        return false;
      }
      const subdir = node.dir.substr(path.length);
      return !subdir.includes('/');
    }

    passRateStyle(total, passRate, browserCount) {
      const fraction = passRate / total;
      const alpha = Math.round(fraction * 1000) / 1000;
      return `background-color: rgba(${INTEROP_COLORS[browserCount].join(', ')}, ${alpha})`;
    }

    computeCurrentNode(allMetrics, path) {
      if (!allMetrics || !path || path === '/') {
        return null;
      }
      return allMetrics.data.some(node => node.dir === path);
    }

    shouldQueryAll() {
      return (this.currentNode && this.currentNode.total < 10000) || false;
    }
  }
  window.customElements.define(WPTInterop.is, WPTInterop);
</script>
</dom-module>
