<!--
Copyright 2018 The WPT Dashboard Project. All rights reserved.
Use of this source code is governed by a BSD-style license that can be
found in the LICENSE file.
-->

<!--
`<loading-state>` is a behaviour component for indicating when information is
still being loaded (generally, fetched).
-->
<dom-module id="loading-state">
  <script>
    // eslint-disable-next-line no-unused-vars
    const LoadingState = (superClass) => class extends superClass {
      static get properties() {
        return {
          loadingCount: {
            type: Number,
            value: 0,
            observer: 'loadingCountChanged',
          },
          isLoading: {
            type: Boolean,
            computed: 'computeIsLoading(loadingCount)',
          },
          onLoadingComplete: Function,
        };
      }

      computeIsLoading(loadingCount) {
        return !!loadingCount;
      }

      loadingCountChanged(now, then) {
        if (now === 0 && then > 0 && this.onLoadingComplete) {
          this.onLoadingComplete();
        }
      }
    };
  </script>
</dom-module>
