<dom-module id="browser-info">
  <script>
    const DISPLAY_NAMES = (() => {
      let m = new Map();
      ['chrome', 'chrome-experimental'].forEach(n => m.set(n, 'Chrome'));
      ['edge', 'edge-experimental'].forEach(n => m.set(n, 'Edge'));
      ['firefox', 'firefox-experimental'].forEach(n => m.set(n, 'Firefox'));
      ['safari', 'safari-experimental'].forEach(n => m.set(n, 'Safari'));
      m.set('uc', 'UC Browser');
      m.set('android', 'Android');
      m.set('linux', 'Linux');
      m.set('macos', 'macOS');
      m.set('windows', 'Windows');
      return m;
    })();
    const VERSION_PATTERNS = {
      major: /(\d+)/,
      majorAndMinor: /(\d+\.\d+)/
    };

    // eslint-disable-next-line no-unused-vars
    const ProductInfo = (superClass) => class extends superClass {
      static get properties() {
        return {
        };
      }

      displayName(name) {
        return DISPLAY_NAMES.get(name) || name;
      }

      displayLabels(labels) {
        if (labels && labels instanceof Array) {
          return labels.join(', ');
        }
        return '';
      }

      minorIsSignificant(browserName) {
        return browserName === 'safari';
      }

      /**
       * Truncate a software version identifier to include only the most
       * salient information for the specified browser.
       */
      shortVersion(browserName, browserVersion) {
        const pattern = this.minorIsSignificant(browserName) ?
          VERSION_PATTERNS.majorAndMinor : VERSION_PATTERNS.major;
        const match = pattern.exec(browserVersion);

        if (!match) {
          return browserVersion;
        }

        return match[1];
      }
    }
  </script>
</dom-module>
