<!--
Copyright 2017 The WPT Dashboard Project. All rights reserved.
Use of this source code is governed by a BSD-style license that can be
found in the LICENSE file.
-->

<link rel="import" href="../bower_components/paper-tooltip/paper-tooltip.html">
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="./display-logo.html">

<!--
`<test-run>` is a stateless component for displaying the details of a TestRun.

The schema for the testRun property is as follows:
{
  "browser_name": "",
  "browser_version": "",
  "os_name": "",
  "os_version": "",
  "revision": "",     // the first 10 characters of the SHA
  "created_at": "",   // the date the TestRun was uploaded
}

See models.go for more details.
-->
<dom-module id="test-run">
  <template>
    <style>
      :host {
        display: block;
        font-size: 16px;
      }
      a {
        text-decoration: none;
        color: #0d5de6;
        font-family: monospace;
      }
      a:hover {
        cursor: pointer;
        color: #226ff3;
      }
      .revision {
        font-size: 14px;
      }
    </style>

    <div>
      <display-logo show-source="[[showSource]]" small="[[small]]" product="[[testRun]]"></display-logo>

      <template is="dom-if" if="[[!small]]">
        <div>{{displayName(testRun.browser_name)}} {{shortVersion(testRun.browser_name, testRun.browser_version)}}</div>
        <template is="dom-if" if="{{ !isDiff(testRun.browser_name) }}">
          <div>{{displayName(testRun.os_name)}} {{testRun.os_version}}</div>
          <div class="revision">@<a href="?sha={{testRun.revision}}">{{testRun.revision}}</a></div>
          <div>{{dateFormat(testRun.created_at)}}</div>
        </template>
      </template>

      <template is="dom-if" if="{{ !isDiff(testRun.browser_name) }}">
        <paper-tooltip offset=0>
          {{displayName(testRun.browser_name)}} {{testRun.browser_version}}<br>
          Labels: {{displayLabels(testRun.labels)}}<br>
          {{moreTooltip(testRun)}}
        </paper-tooltip>
      </template>
    </div>
  </template>

  <script>
    const DISPLAY_NAMES = (() => {
      let m = new Map();
      ['chrome', 'chrome-experimental'].forEach(n => m.set(n, 'Chrome'));
      ['edge', 'edge-experimental'].forEach(n => m.set(n, 'Edge'));
      ['firefox', 'firefox-experimental'].forEach(n => m.set(n, 'Firefox'));
      ['safari', 'safari-experimental'].forEach(n => m.set(n, 'Safari'));
      m.set('uc', 'UC Browser');
      m.set('android', 'Android');
      m.set('linux', 'Linux');
      m.set('macos', 'macOS');
      m.set('windows', 'Windows');
      return m;
    })();
    const VERSION_PATTERNS = {
      major: /(\d+)/,
      majorAndMinor: /(\d+\.\d+)/
    };

    class TestRun extends window.Polymer.Element {
      static get is() {
        return 'test-run';
      }

      static get properties() {
        return {
          testRun: {
            type: Object,
          },
          small: {
            type: Boolean,
            value: false,
          },
          showSource: {
            type: Boolean,
            value: false
          },
        };
      }

      dateFormat(isoDate) {
        return String(new Date(isoDate)).match(/^\w+ (\w+ \w+ \w+)/)[1];
      }

      isDiff(browserName) {
        return browserName.toLowerCase() === 'diff';
      }

      displayName(name) {
        return DISPLAY_NAMES.get(name) || name;
      }

      displayLabels(labels) {
        if (labels && labels instanceof Array) {
          return labels.join(', ');
        }
        return '';
      }

      minorIsSignificant(browserName) {
        return browserName === 'safari';
      }

      /**
       * Truncate a software version identifier to include only the most
       * salient information for the specified browser.
       */
      shortVersion(browserName, browserVersion) {
        const pattern = this.minorIsSignificant(browserName) ?
          VERSION_PATTERNS.majorAndMinor : VERSION_PATTERNS.major;
        const match = pattern.exec(browserVersion);

        if (!match) {
          return browserVersion;
        }

        return match[1];
      }

      moreTooltip(testRun) {
        const labels = testRun && testRun.labels || [];
        if (testRun.browser_name.startsWith('chrome') && labels.includes('experimental')) {
          return 'With --enable-experimental-web-platform-features';
        }
        if (testRun.browser_name.startsWith('firefox')) {
          return 'Using prefs in /testing/profiles/; some experimental features enabled';
        }
        return '';
      }
    }

    window.customElements.define(TestRun.is, TestRun);
  </script>
</dom-module>
