<!--
Copyright 2017 The WPT Dashboard Project. All rights reserved.
Use of this source code is governed by a BSD-style license that can be
found in the LICENSE file.
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">

<dom-module id="test-search">
  <template>
    <style>
      input.query {
        font-size: 16px;
        display: block;
        padding: 0.5em 0;
        width: 100%;
      }
    </style>

    <input value="{{ q::input }}" class="query" placeholder="[[placeholder]]"
        list="query-list">
    <!-- TODO(markdittmer): Static id will break multiple search components. -->
    <datalist id="query-list"></datalist>
  </template>

  <script>
    const QUERY_DEBOUNCE_ID = Symbol('query_debounce_timeout');

    class TestSearch extends window.Polymer.Element {
      static get is() {
        return 'test-search';
      }
      static get properties() {
        return {
          placeholder: {
            type: String,
            value: 'Search test files, like \'cors/allow-headers.htm\'',
          },
          items: Array,
          itemKey: String,
          q: {
            type: String,
            notify: true,
            observer: 'queryChanged'
          },
          query: {
            type: String,
            notify: true,
          },
          results: {
            type: Array,
            notify: true,
          },
          queryPlaceholder: {
            type: String,
            computed: 'computeQueryPlaceholder()'
          },
          autocompleteURL: {
            type: String,
            observer: 'observeAutocompleteURL',
          },
          handleKeyUp: Function,
        };
      }

      constructor() {
        super();
        this.handleKeyUp = this._handleKeyUp.bind(this);
      }

      connectedCallback() {
        super.connectedCallback();
        this.shadowRoot.querySelector('.query')
          .addEventListener('keyup', this.handleKeyUp);
      }

      disconnectedCallback() {
        this.shadowRoot.querySelector('.query')
          .removeEventListener('keyup', this.handleKeyUp);
        super.disconnectedCallback();
      }

      ready() {
        super.ready();
        this.q = this.query;
      }

      async observeAutocompleteURL(newValue, oldValue) {
        if (newValue === oldValue || !newValue) {
          return;
        }

        const response = await window.fetch(newValue);
        if (response.status !== 200) {
          throw response;
        }
        const json = await response.json();

        const datalist = this.shadowRoot.querySelector('datalist');
        datalist.innerHTML = '';
        for (const result of json.results) {
          const option = document.createElement('option');
          option.setAttribute('value', result.query_string);
          datalist.appendChild(option);
        }
      }

      queryChanged(_, oldQuery) {
        // Debounce first initialization.
        if (typeof(oldQuery) === 'undefined') {
          return;
        }
        if (this[QUERY_DEBOUNCE_ID]) {
          window.clearTimeout(this[QUERY_DEBOUNCE_ID]);
        }
        this[QUERY_DEBOUNCE_ID] = window.setTimeout(this.latchQuery.bind(this), 500);
      }

      latchQuery() {
        this.query = this.q.toLowerCase();
      }

      /* eslint-disable no-underscore-dangle */
      _handleKeyUp(e) {
        if (e.keyCode !== 13) {
          return;
        }

        this.query = this.q;
        this.dispatchEvent(new CustomEvent('commit', {
          detail: {query: this.query},
        }));
      }
    }
    window.customElements.define(TestSearch.is, TestSearch);
  </script>
</dom-module>
