<!--
Copyright 2018 The WPT Dashboard Project. All rights reserved.
Use of this source code is governed by a BSD-style license that can be
found in the LICENSE file.
-->

<dom-module id="test-runs-query">
  <script>
    /**
     * Behaviour class for re-use of test-runs fetching behaviour.
     */
    // eslint-disable-next-line no-unused-vars
    const TestRunsQuery = (superClass) => class extends superClass {
      static get properties() {
        return {
          /* Parsed product objects, computed from the spec strings */
          products: {
            type: Array,
            computed: 'computeProducts(productSpecs)',
          },
          /* String array of product specs, e.g. 'chrome[experimental]' */
          productSpecs: {
            type: Array,
            value: [],
          },
          labels: {
            type: Array,
            value: [],
          },
          maxCount: Number,
          sha: String,
          aligned: Boolean,
          isLatest: {
            type: Boolean,
            computed: 'computeIsLatest(sha)'
          },
          queryParams: {
            type: Object,
            computed: 'testRunQueryParams(sha, labels, products, maxCount)',
          },
          query: {
            type: String,
            computed: 'computeQuery(queryParams)',
          }
        };
      }

      computeIsLatest(sha) {
        return !sha || sha === 'latest';
      }

      testRunQueryParams(sha, labels, products, maxCount) {
        const params = {};
        if (sha) {
          params.sha = sha;
        }
        if (labels && labels.length) {
          params.label = labels;
        }
        if (products && products.length) {
          params.product = products;
        }
        maxCount = maxCount || this.defaultMaxCount;
        if (maxCount) {
          params['max-count'] = maxCount;
        }
        if (this.aligned) {
          params.aligned = true;
        }
        return params;
      }

      computeQuery(params) {
        if (Object.keys(params).length < 1) {
          return '';
        }
        const url = new URL(window.location.origin);
        for (const k of Object.keys(params)) {
          const v = params[k];
          if (Array.isArray(v)) {
            v.forEach(i => url.searchParams.append(k, i));
          } else {
            url.searchParams.set(k, params[k]);
          }
        }
        return url.search;
      }

      computeProducts(productSpecs) {
        return productSpecs && productSpecs.map(s => this.parseProductSpec(s));
      }

      parseProductSpec(spec) {
        // @sha (optional)
        let revision = '';
        const atIndex = spec.indexOf('@');
        if (atIndex > 0) {
          revision = spec.substr(atIndex + 1);
          spec = spec.substr(0, atIndex);
        }
        // [foo,bar] labels syntax (optional)
        let labels = new Set();
        const arrayIndex = spec.indexOf('[');
        if (arrayIndex > 0) {
          let labelsStr = spec.substr(arrayIndex + 1);
          labelsStr = labelsStr.substr(0, labelsStr.length - 1);
          labelsStr.split(',').forEach(l => labels.add(l));
          spec = spec.substr(0, arrayIndex);
        }
        // product
        const product = this.parseProduct(spec);
        product.revision = revision;
        product.labels = labels;
        return product;
      }

      parseProduct(name) {
        return {
          browser_name: name,
        }
      }
    }
  </script>
</dom-module>
