<!--
Copyright 2017 The WPT Dashboard Project. All rights reserved.
Use of this source code is governed by a BSD-style license that can be
found in the LICENSE file.
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-if.html">

<!--
`<test-run>` is a stateless component for displaying the details of a TestRun.

The schema for the testRun property is as follows:
{
  "browser_name": "",
  "browser_version": "",
  "os_name": "",
  "os_version": "",
  "revision": "",     // the first 10 characters of the SHA
  "created_at": "",   // the date the TestRun was uploaded
}

See models.go for more details.
-->
<dom-module id="test-run">
  <template>
    <style>
      :host {
        display: block;
        font-size: 16px;
      }
      a {
        text-decoration: none;
        color: #0d5de6;
        font-family: monospace;
      }
      a:hover {
        cursor: pointer;
        color: #226ff3;
      }
      .revision {
        font-size: 14px;
      }
      img {
        width: 32px;
        height: 32px;
      }
    </style>

    <div>
      <div><img src="/static/{{testRun.browser_name}}_64x64.png" /></div>
      <div>{{testRun.browser_name}} {{testRun.browser_version}}</div>
      <template is="dom-if" if="{{ !isDiff(testRun.browser_name) }}">
        <div>{{testRun.os_name}} {{testRun.os_version}}</div>
        <div class="revision">@<a href="?sha={{testRun.revision}}">{{testRun.revision}}</a></div>
        <div>{{dateFormat(testRun.created_at)}}</div>
      </template>
    </div>
  </template>

  <script>
    class TestRun extends window.Polymer.Element {
      static get is() {
        return 'test-run';
      }

      static get properties() {
        return {
          testRun: {
            type: Object
          }
        };
      }

      dateFormat(isoDate) {
        return String(new Date(isoDate)).match(/^\w+ (\w+ \w+ \w+)/)[1];
      }

      isDiff(browserName) {
        return browserName.toLowerCase() === 'diff';
      }
    }

    window.customElements.define(TestRun.is, TestRun);
  </script>
</dom-module>
