<!--
Copyright 2018 The WPT Dashboard Project. All rights reserved.
Use of this source code is governed by a BSD-style license that can be
found in the LICENSE file.
-->

<dom-module id="test-runs-query">
  <script>
    /**
     * Behaviour class for re-use of test-runs fetching behaviour.
     */
    // eslint-disable-next-line no-unused-vars
    const TestRunsQuery = (superClass) => class extends superClass {
      static get ParamsComputer() {
        return 'testRunQueryParams(sha, labels, productSpecs, maxCount)';
      }

      static get properties() {
        return {
          /* Parsed product objects, computed from the spec strings */
          products: {
            type: Array,
            computed: 'computeProducts(productSpecs)',
          },
          /* String array of product specs, e.g. 'chrome[experimental]' */
          productSpecs: {
            type: Array,
            value: [],
          },
          labels: {
            type: Array,
            value: [],
          },
          maxCount: Number,
          sha: String,
          aligned: Boolean,
          isLatest: {
            type: Boolean,
            computed: 'computeIsLatest(sha)'
          },
        };
      }

      computeIsLatest(sha) {
        return !sha || sha === 'latest';
      }

      testRunQueryParams(sha, labels, productSpecs, maxCount) {
        const params = {};
        if (sha) {
          params.sha = sha;
        }
        if (labels && labels.length) {
          params.label = labels;
        }
        if (productSpecs && productSpecs.length) {
          params.product = productSpecs;
        }
        maxCount = maxCount || this.defaultMaxCount;
        if (maxCount) {
          params['max-count'] = maxCount;
        }
        if (this.aligned) {
          params.aligned = true;
        }
        return params;
      }

      computeProducts(productSpecs) {
        return productSpecs && productSpecs.map(s => this.parseProductSpec(s));
      }

      parseProductSpec(spec) {
        // @sha (optional)
        let revision = '';
        const atIndex = spec.indexOf('@');
        if (atIndex > 0) {
          revision = spec.substr(atIndex + 1);
          spec = spec.substr(0, atIndex);
        }
        // [foo,bar] labels syntax (optional)
        let labels = new Set();
        const arrayIndex = spec.indexOf('[');
        if (arrayIndex > 0) {
          let labelsStr = spec.substr(arrayIndex + 1);
          if (labelsStr[labelsStr.length - 1] !== ']') {
            throw 'Expected closing bracket';
          }
          labelsStr = labelsStr.substr(0, labelsStr.length - 1);
          labelsStr.split(',').forEach(l => labels.add(l));
          spec = spec.substr(0, arrayIndex);
        }
        // product
        const product = this.parseProduct(spec);
        product.revision = revision;
        product.labels = labels;
        return product;
      }

      parseProduct(name) {
        // -version (optional)
        let version;
        const dashIndex = name.indexOf('-');
        if (dashIndex > 0) {
          version = name.substr(dashIndex + 1);
          name = name.substr(0, dashIndex);
        }
        return {
          browser_name: name,
          browser_version: version,
        }
      }
    }
  </script>
</dom-module>
