<!--
Copyright 2017 The WPT Dashboard Project. All rights reserved.
Use of this source code is governed by a BSD-style license that can be
found in the LICENSE file.
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">

<dom-module id="wpt-results-base">
  <script>
    /**
     * Base class for re-use of results-fetching behaviour, between
     * multi-item (wpt-results) and single-test (test-file-results) views.
     */
    class TestRunsBase extends window.Polymer.Element {
      static get is() {
        return 'wpt-results-base';
      }

      static get properties() {
        return {
          path: String,
          encodedPath: {
            type: String,
            computed: 'encodeTestPath(path)'
          },
          // URLs for TestRuns to load.
          testRunResources: {
            type: Array
          },
          // Fetched + parsed JSON blobs for the runs
          testRuns: {
            type: Array,
            notify: true,
          },
          scheme: {
            type: String,
            computed: 'computeTestScheme(path)'
          },
          pathIsATestFile: {
            type: Boolean,
            computed: 'computePathIsATestFile(path)'
          },
          products: {
            type: Array,
            value: null
          },
          labels: {
            type: Array,
            value: [],
          },
          maxCount: Number,
          sha: String,
          complete: Boolean,
          isLatest: {
            type: Boolean,
            computed: 'computeIsLatest(sha)'
          },
          queryParams: {
            type: Object,
            computed: 'testRunQueryParams(sha, labels, products, maxCount)',
          },
          query: {
            type: String,
            computed: 'computeQuery(queryParams)',
          }
        };
      }

      computeTestScheme(path) {
        // This should (close enough) match up with the logic in:
        // https://github.com/web-platform-tests/wpt/blob/master/tools/manifest/item.py
        // https://github.com/web-platform-tests/wpt/blob/master/tools/wptrunner/wptrunner/wpttest.py
        path = path || '';
        return ['.https.', '.serviceworker.'].some(x => path.includes(x)) ? 'https' : 'http';
      }

      computePathIsATestFile(path) {
        return /(\.(html|htm|py|svg|xhtml|xht|xml)(\?.*)?$)/.test(path);
      }

      encodeTestPath(path) {
        console.assert(path.startsWith('/'));
        let parts = path.split('/').slice(1);
        parts.push(encodeURIComponent(parts.pop()));
        return '/' + parts.join('/');
      }

      async loadRuns() {
        const preloaded = this.testRuns;
        const runs = [];
        if (preloaded) {
          runs.push(...preloaded);
        }
        // Fetch by products (or default products, if nothing else is present).
        if ((this.products && this.products.length)
          || (!preloaded && !this.testRunResources)) {
          const byProduct =
            fetch(`/api/runs${this.query}`).then(r => r.ok && r.json());
          runs.push(byProduct);
        }
        // Fetch by specific URLs (legacy behaviour)
        if (this.testRunResources) {
          const byUrl = this.testRunResources
            .map(url => fetch(url).then(r => r.ok && r.json()));
          runs.push(...byUrl);
        }
        const fetches = await Promise.all(runs);

        // Filter unresolved fetches and flatten any array-fetches into the array.
        const nonEmpty = fetches.filter(e => e);
        const flattened = nonEmpty.reduce((sum, item) => {
          return sum.concat(Array.isArray(item) ? item : [item]);
        }, []);
        this.testRuns = flattened;
        return flattened;
      }

      computeIsLatest(sha) {
        return !sha || sha === 'latest';
      }

      computeQuery(params) {
        if (Object.keys(params).length < 1) {
          return '';
        }
        const url = new URL(window.location.origin);
        for (const k of Object.keys(params)) {
          const v = params[k];
          if (Array.isArray(v)) {
            v.forEach(i => url.searchParams.append(k, i));
          } else {
            url.searchParams.set(k, params[k]);
          }
        }
        return url.search;
      }

      testRunQueryParams(sha, labels, products, maxCount) {
        const params = {};
        if (sha) {
          params.sha = sha;
        }
        if (labels && labels.length) {
          params.label = labels;
        }
        if (products && products.length) {
          params.product = products;
        }
        maxCount = maxCount || this.defaultMaxCount;
        if (maxCount) {
          params['max-count'] = maxCount;
        }

        // Insist on complete runs iff there is no other parameter.
        // This is a temporary hack for https://github.com/web-platform-tests/wpt.fyi/issues/468
        if (this.complete || Object.keys(params).length === 0) {
          params.complete = true;
        }

        return params;
      }

      splitPathIntoLinkedParts(inputPath) {
        const parts = (inputPath || '').split('/').slice(1);
        const lastPart = parts.pop();
        let path = '';
        const linkedParts = parts.map(name => {
          path += `/${name}`;
          return {
            name, path
          };
        });
        path += `/${encodeURIComponent(lastPart)}`;
        linkedParts.push({name: lastPart, path: path});
        return linkedParts;
      }
    }

    window.customElements.define(TestRunsBase.is, TestRunsBase);
  </script>
</dom-module>
