<!--
Copyright 2018 The WPT Dashboard Project. All rights reserved.
Use of this source code is governed by a BSD-style license that can be
found in the LICENSE file.
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../bower_components/iron-icons/editor-icons.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="./display-logo.html">
<link rel="import" href="./info-banner.html">
<link rel="import" href="./product-info.html">
<link rel="import" href="./test-runs-query.html">
<link rel="import" href="./wpt-flags.html">

<dom-module id="test-runs-query-builder">
  <template>
    <style>
      #add-button {
        background-color: var(--paper-blue-500);
        color: white;
      }
      #clear-button {
        background-color: var(--paper-red-500);
        color: white;
      }
      #submit-button {
        background-color: var(--paper-green-500);
        color: white;
      }
      product-builder {
        max-width: 180px;
        display: inline-block;
      }
    </style>

    <h3>
      Products
      <paper-icon-button icon="editor:mode-edit"
                         onclick="[[toggleEdit]]"></paper-icon-button>
    </h3>
    <template is="dom-if" if="[[debug]]">
      [[testRunQuery]]
    </template>
    <div>
      <template is="dom-repeat" items="[[products]]" as="p" index-as="i">
        <product-builder browser-name="{{p.browser_name}}"
                         browser-version="{{p.browser_version}}"
                         labels="{{p.labels}}"
                         edit="[[edit]]"
                         debug="[[debug]]"
                         on-product-changed="[[productChanged(i)]]"
                         on-delete="[[productDeleted(i)]]"></product-builder>
      </template>
      <template is="dom-if" if="[[!products.length]]">
        <info-banner>
          <iron-icon icon="info"></iron-icon> No products selected. The default products will be used.
        </info-banner>
      </template>
    </div>
    <paper-item>
      <paper-checkbox checked="{{aligned}}">Align runs</paper-checkbox>
    </paper-item>
    <paper-item>
      <paper-input label="Labels"
                   always-float-label
                   placeholder="e.g. stable,buildbot"
                   value="{{ labelsString::input }}">
      </paper-input>
    </paper-item>
    <template is="dom-if" if="[[queryBuilderSHA]]">
      <paper-item>
        <paper-input-container always-float-label>
          <label slot="label">SHA</label>
          <input name="os_version"
                 placeholder="(Latest)"
                 list="shas-datalist"
                 value="{{ sha::input }}"
                 slot="input">
          <datalist id="shas-datalist"></datalist>
        </paper-input-container>
      </paper-item>
    </template>
    <br>
    <paper-button raised id="add-button" onclick="[[addProduct]]">
      <iron-icon icon="add"></iron-icon> Add product
    </paper-button>
    <paper-button raised id="clear-button" onclick="[[clearAll]]">
      <iron-icon icon="delete"></iron-icon> Clear all
    </paper-button>
    <paper-button raised id="submit-button" onclick="[[submit]]">
      <iron-icon icon="done"></iron-icon> Submit
    </paper-button>
  </template>
  <script>
    /**
     * Base class for re-use of results-fetching behaviour, between
     * multi-item (wpt-results) and single-test (test-file-results) views.
     */
    /* global WPTFlags, TestRunsQuery, DEFAULT_BROWSER_NAMES */
    class TestRunsQueryBuilder extends WPTFlags(TestRunsQuery(window.Polymer.Element)) {
      static get is() {
        return 'test-runs-query-builder';
      }

      static get properties() {
        return {
          edit: {
            type: Boolean,
            value: true,
          },
          debug: {
            type: Boolean,
            value: false,
          },
          onSubmit: Function,
          labelsString: {
            type: String,
            observer: 'labelsStringUpdated',
          },
          shasURL: {
            type: String,
            computed: 'computeSHAsURL(testRunQuery)',
            observer: 'shasURLUpdated',
          },
          shas: {
            type: Array,
          },
          shasAutocomplete: {
            type: Array,
            observer: 'shasAutocompleteUpdated'
          },
        };
      }

      constructor() {
        super();
        this.toggleEdit = this.onToggleEdit.bind(this);
        this.productDeleted = i => () => {
          this.handleDeleteProduct(i);
        };
        this.productChanged = i => {
          return product => {
            this.handleProductChanged(i, product);
          };
        };
        this.addProduct = () => {
          this.handleAddProduct();
        };
        this.clearAll = this.handleClearAll.bind(this);
        this.submit = () => {
          this.onSubmit && this.onSubmit();
        };
        this._createMethodObserver('labelsUpdated(labels, labels.*)');
        this._createMethodObserver('shasUpdated(sha, shas)');
      }

      onToggleEdit() {
        this.edit = !this.edit;
      }

      handleDeleteProduct(i) {
        this.splice('products', i, 1);
      }

      handleProductChanged(i, product) {
        this.set(`products.${i}`, product);
      }

      computeSHAsURL(query) {
        const url = new URL(`/api/shas${query || ''}`, window.location);
        url.searchParams.delete('sha');
        return url;
      }

      shasURLUpdated(url) {
        fetch(url).then(r => r.json()).then(s => {
          this.shas = s;
        });
      }

      shasUpdated(sha, shas) {
        if (!shas || !this.queryBuilderSHA) {
          return;
        }
        if (sha) {
          shas = shas.filter(s => s.startsWith(sha));
        }
        shas = shas.slice(0, 10);
        // Check actually different from current.
        const curr = this.shasAutocomplete || [];
        if (curr.length === shas.length) {
          let same = true;
          for (let i = 0; i < shas.length && same; i++) {
            if (i >= curr.length || shas[i] !== curr[i]) {
              same = false;
            }
          }
          if (same) {
            return;
          }
        }
        this.shasAutocomplete = shas;
      }

      shasAutocompleteUpdated(shasAutocomplete) {
        const datalist = this.shadowRoot.querySelector('datalist');
        datalist.innerHTML = '';
        for (const sha of shasAutocomplete) {
          const option = document.createElement('option');
          option.setAttribute('value', sha);
          datalist.appendChild(option);
        }
      }

      labelsUpdated(labels) {
        let joined = labels && labels.length && labels.join(', ')
          || null;
        if (joined !== this.labelsString) {
          this.labelsString = joined;
        }
      }

      labelsStringUpdated(labelsString) {
        const labels = (labelsString || '')
          .split(',').map(i => i.trim()).filter(i => i);
        if (labels.join(',') !== this.labels.join(',')) {
          this.labels = labels;
        }
      }

      handleAddProduct() {
        // TODO(lukebjerring): Make a smart(er) suggestion.
        let next = { browser_name: 'chrome' };
        for (const d of DEFAULT_BROWSER_NAMES) {
          if (this.products.find(p => p.browser_name === d)) {
            continue;
          }
          next.browser_name = d;
          break;
        }
        this.splice('products', this.products.length, 0, next);
      }

      handleClearAll() {
        this.clearQuery();
        this.set('products', []);
      }
    }

    window.customElements.define(TestRunsQueryBuilder.is, TestRunsQueryBuilder);
  </script>
</dom-module>

<dom-module id="product-builder">
  <template>
    <style>
      paper-icon-button {
        float: right;
      }
    </style>
    <paper-card>
      <div class="card-content">
        <paper-icon-button icon="delete" onclick="[[deleteProduct]]"></paper-icon-button>

        <display-logo product="[[_product]]"></display-logo>
        <template is="dom-if" if="[[debug]]">
          [[spec]]
        </template>

        <template is="dom-if" if="[[edit]]">
          <br>
          <paper-dropdown-menu label="Browser" no-animations>
            <paper-listbox slot="dropdown-content" selected="{{ browserName }}" attr-for-selected="value">
              <paper-item value="chrome">[[displayName("chrome")]]</paper-item>
              <paper-item value="edge">[[displayName("edge")]]</paper-item>
              <paper-item value="firefox">[[displayName("firefox")]]</paper-item>
              <paper-item value="safari">[[displayName("safari")]]</paper-item>
            </paper-listbox>
          </paper-dropdown-menu>
        </template>
        <template is="dom-if" if="[[!edit]]">
          [[ displayName(browserName) ]]
        </template>

        <template is="dom-if" if="[[edit]]">
          <br>
          <paper-dropdown-menu label="Channel" no-animations>
            <paper-listbox slot="dropdown-content" selected="{{ _channel }}" attr-for-selected="value">
              <paper-item value="any">Any</paper-item>
              <paper-item value="stable">[[displayName("stable")]]</paper-item>
              <paper-item value="beta">[[displayName("beta")]]</paper-item>
              <paper-item value="dev">[[displayName("dev")]]</paper-item>
              <paper-item value="experimental">[[displayName("experimental")]]</paper-item>
            </paper-listbox>
          </paper-dropdown-menu>
        </template>

        <template is="dom-if" if="[[edit]]">
          <br>
          <paper-input always-float-label
                       label="Version"
                       placeholder="(Any version)"
                       value="{{ browserVersion::input }}"></paper-input>
        </template>
        <template is="dom-if" if="[[!edit]]">
          [[browserVersion]]
        </template>
      </div>
    </paper-card>
  </template>
  <script>
    /* global ProductInfo, CHANNELS, DEFAULT_BROWSER_NAMES */
    class ProductBuilder extends ProductInfo(window.Polymer.Element) {
      static get is() {
        return 'product-builder';
      }

      static get properties() {
        return {
          browserName: {
            type: String,
            value: DEFAULT_BROWSER_NAMES[0],
            notify: true,
          },
          browserVersion: {
            type: String,
            value: '',
            notify: true,
          },
          labels: {
            type: Array,
            value: [],
            notify: true,
            observer: 'labelsChanged',
          },
          /*
            _product is a local re-aggregation of the fields, used for
            display-logo, and notifying parents of changes.
          */
          _product: {
            type: Object,
            computed: 'computeProduct(browserName, browserVersion, labels)',
            notify: true,
          },
          _channel: {
            type: String,
            value: 'any',
            observer: 'channelChanged',
          },
          spec: {
            type: String,
            computed: 'computeSpec(_product)',
          },
          edit: {
            type: Boolean,
            value: true,
          },
          debug: {
            type: Boolean,
            value: false,
          },
          onDelete: Function,
          onProductChanged: Function,
        };
      }

      constructor() {
        super();
        this.deleteProduct = () => {
          this.onDelete && this.onDelete(this.product);
        };
      }

      computeProduct(browserName, browserVersion, labels) {
        const product = {
          browser_name: browserName,
          browser_version: browserVersion,
          labels: labels,
        };
        this.onProductChanged && this.onProductChanged(product);
        return product;
      }

      computeSpec(product) {
        return this.getSpec(product);
      }

      labelsChanged(labels) {
        // Configure the channel from the labels.
        let channel = 'any';
        labels = new Set(labels || []);
        for (const c of CHANNELS) {
          if (labels.has(c)) {
            channel = c;
          }
        }
        if (this._channel !== channel) {
          this._channel = channel;
        }
      }

      channelChanged(channel, was) {
        // Configure the labels from the channel.
        const labels = Array.from(this.labels || []);
        const isAny = !channel || channel === 'any';
        if (was) {
          // Remove the old channel.
          let indexOf = labels.findIndex(l => l === was);
          for (; indexOf > -1; indexOf = labels.findIndex(l => l === was)) {
            labels.splice(indexOf, 1);
          }
        }
        if (!isAny && !labels.includes(channel)) {
          labels.push(channel);
        } else if (!was) {
          return;
        }
        this.labels = labels;
      }
    }

    window.customElements.define(ProductBuilder.is, ProductBuilder);
  </script>
</dom-module>
