<!--
Copyright 2018 The WPT Dashboard Project. All rights reserved.
Use of this source code is governed by a BSD-style license that can be
found in the LICENSE file.
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/iron-icons/editor-icons.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="./display-logo.html">
<link rel="import" href="./product-info.html">
<link rel="import" href="./test-runs-query.html">

<dom-module id="test-runs-query-builder">
  <template>
    <h3>
      Products
      <paper-icon-button icon="editor:mode-edit"
                         onclick="[[toggleEdit]]"></paper-icon-button>
    </h3>
    <div>
      <template is="dom-repeat" items="[[products]]" as="product">
        <product-builder product="{{product}}"
                         edit="[[edit]]"
                         debug="[[debug]]"></product-builder>
      </template>
    </div>
  </template>
  <script>
    /**
     * Base class for re-use of results-fetching behaviour, between
     * multi-item (wpt-results) and single-test (test-file-results) views.
     */
    class TestRunsQueryBuilder extends TestRunsQuery(ProductInfo(window.Polymer.Element)) {
      static get is() {
        return 'test-runs-query-builder';
      }

      static get properties() {
        return {
          edit: {
            type: Boolean,
            value: false,
          },
          debug: {
            type: Boolean,
            value: false,
          },
        };
      }

      constructor() {
        super();
        this.toggleEdit = this.onToggleEdit.bind(this);
      }

      onToggleEdit() {
        this.edit = !this.edit;
      }
    }

    window.customElements.define(TestRunsQueryBuilder.is, TestRunsQueryBuilder);
  </script>
</dom-module>

<dom-module id="product-builder">
  <template>
    <display-logo product="[[product]]"></display-logo>
    <template is="dom-if" if="[[debug]]">
      [[spec]]
    </template>
    <table>
      <tr>
        <td class="label">Browser</td>
        <td>
          <template is="dom-if" if="[[edit]]">
            <paper-dropdown-menu label="Browser" no-animations>
              <paper-listbox slot="dropdown-content" selected="{{ product.browser_name }}" attr-for-selected="value">
                <paper-item value="chrome">[[displayName("chrome")]]</paper-item>
                <paper-item value="edge">[[displayName("edge")]]</paper-item>
                <paper-item value="firefox">[[displayName("firefox")]]</paper-item>
                <paper-item value="safari">[[displayName("safari")]]</paper-item>
              </paper-listbox>
            </paper-dropdown-menu>
          </template>
          <template is="dom-if" if="[[!edit]]">
            [[ displayName(product.browser_name) ]]
          </template>
        </td>
      </tr>
      <tr>
        <td class="label">Channel</td>
        <td>
          <template is="dom-if" if="[[edit]]">
            <paper-dropdown-menu label="Channel" no-animations>
              <paper-listbox slot="dropdown-content" selected="{{ channel }}" attr-for-selected="value">
                <paper-item value="any">Any</paper-item>
                <paper-item value="stable">[[displayName("stable")]]</paper-item>
                <paper-item value="beta">[[displayName("beta")]]</paper-item>
                <paper-item value="dev">[[displayName("dev")]]</paper-item>
                <paper-item value="experimental">[[displayName("experimental")]]</paper-item>
              </paper-listbox>
            </paper-dropdown-menu>
          </template>
          <template is="dom-if" if="[[!edit]]">
            [[ displayName(product.browser_name) ]]
          </template>
        </td>
      </tr>
      <tr>
        <td class="label">Version</td>
        <td>
          <template is="dom-if" if="[[edit]]">
            <input value="{{ product.browser_version::input }}">
          </template>
          <template is="dom-if" if="[[!edit]]">
            [[product.browser_version]]
          </template>
        </td>
      </tr>
    </table>
  </template>
  <script>
    class ProductBuilder extends ProductInfo(window.Polymer.Element) {
      static get is() {
        return 'product-builder';
      }

      static get properties() {
        return {
          edit: {
            type: Boolean,
            value: true,
          },
          product: {
            type: Object,
            value: {},
          },
          channel: {
            type: String,
            value: "any",
          },
          debug: {
            type: Boolean,
            value: false,
          },
          spec: String,
        };
      }

      static get observers() {
        return [
          'labelsUpdated(product.labels)',
          'channelUpdated(channel)',
          'specChanged(product.*)',
        ];
      }

      labelsUpdated(labels) {
        // Configure the channel from the labels.
        let channel = "any";
        labels = new Set(labels || []);
        for (const c of CHANNELS) {
          if (labels.has(c)) {
            channel = c;
          }
        }
        if (this.channel != channel) {
          this.channel = channel;
        }
      }

      channelUpdated(channel) {
        const labels = new Set(this.product.labels || []);
        for (const c of CHANNELS) {
          if (c === channel) {
            labels.add(c);
          } else {
            labels.delete(c);
          }
        }
        this.set('product.labels', Array.from(labels));
      }

      specChanged(change) {
        this.spec = this.getSpec(this.product);
      }
    }

    window.customElements.define(ProductBuilder.is, ProductBuilder);
  </script>
</dom-module>
