<!--
Copyright 2018 The WPT Dashboard Project. All rights reserved.
Use of this source code is governed by a BSD-style license that can be
found in the LICENSE file.
-->

<link rel="import" href="./product-info.html">
<link rel="import" href="./results-navigation.html">

<dom-module id="test-runs-query">
  <script>
    /**
     * Behaviour class for re-use of test-runs fetching behaviour.
     */
    /* global QueryBuilder, ProductInfo, CHANNELS, DEFAULT_PRODUCTS, DEFAULT_PRODUCT_SPECS */
    // eslint-disable-next-line no-unused-vars
    const TestRunsQuery =
      (superClass) => class extends QueryBuilder(ProductInfo(superClass)) {
        static get properties() {
          return {
            /* Parsed product objects, computed from the spec strings */
            products: {
              type: Array,
              notify: true,
              value: [],
            },
            productSpecs: {
              type: Array,
              notify: true,
              value: [],
            },
            isDefaultProducts: {
              type: Boolean,
              computed: 'computeIsDefaultProducts(productSpecs, productSpecs.*)',
              value: true,
            },
            labels: {
              type: Array,
              value: [],
            },
            maxCount: Number,
            sha: String,
            aligned: Boolean,
            from: Date,
            to: Date,
            isLatest: {
              type: Boolean,
              computed: 'computeIsLatest(sha)'
            },
            testRunQueryParams: {
              type: Object,
              computed: 'computeTestRunQueryParams(sha, aligned, labels, productSpecs, maxCount, from, to)',
            },
            testRunQuery: {
              type: String,
              computed: 'computeQuery(testRunQueryParams)',
              notify: true,
            },
          };
        }

        ready() {
          super.ready();
          this._createMethodObserver('productsUpdated(products, products.*)');
          // Convert any initial product specs to products, if provided.
          if (this.productSpecs && this.productSpecs.length
            && !(this.products && this.products.length)) {
            this.products = this.productSpecs.map(p => this.parseProductSpec(p));
          }
          // Force-trigger a channel label expansion.
          this.updateQueryParams(this.testRunQueryParams);
        }

        // eslint-disable-next-line no-unused-vars
        productsUpdated(products, itemChange) {
          this.productSpecs = (products || []).map(p => this.getSpec(p));
        }

        computeTestRunQueryParams(sha, aligned, labels, productSpecs, maxCount, from, to) {
          const params = {};
          if (!this.computeIsLatest(sha)) {
            params.sha = sha;
          }
          if (labels && labels.length) {
            params.label = labels;
          }
          maxCount = maxCount || this.defaultMaxCount;
          if (maxCount) {
            params['max-count'] = maxCount;
          }
          if (from) {
            params.from = from.toISOString();
          }
          if (to) {
            params.to = to.toISOString();
          }

          // Collapse a globally shared channel into a single label.
          if (this.products.length) {
            let allChannelsSame = true;
            const channel = (this.products[0].labels || []).find(l => CHANNELS.has(l));
            for (const p of this.products) {
              if (!(p.labels || []).find(l => l === channel)) {
                allChannelsSame = false;
              }
            }
            let productSpecs;
            if (allChannelsSame) {
              productSpecs = this.products.map(p => Object.assign(
                {}, p, {labels: (p.labels || []).filter(l => !CHANNELS.has(l)) }))
                .map(p => this.getSpec(p));
              const labels = params.label || [];
              if (!labels.includes(channel)) {
                params.label = [...labels, channel];
              }
            } else {
              productSpecs = this.products.map(p => this.getSpec(p));
            }
            if (!this.computeIsDefaultProducts(productSpecs)) {
              params.product = productSpecs;
            }
          }
          // Requesting a specific SHA makes aligned redundant.
          if (aligned && this.computeIsLatest(sha)) {
            params.aligned = true;
          }
          return params;
        }

        computeProducts(productSpecs) {
          return productSpecs && productSpecs.map(s => this.parseProductSpec(s));
        }

        computeIsDefaultProducts(productSpecs) {
          return !productSpecs || !productSpecs.length
            || DEFAULT_PRODUCT_SPECS.join(',') === (productSpecs || []).join(',');
        }

        get emptyQuery() {
          return {
            products: DEFAULT_PRODUCTS.map(p => Object.assign({}, p)),
            labels: [],
            maxCount: undefined,
            sha: '',
            aligned: undefined,
          };
        }

        clearQuery() {
          this.setProperties(this.emptyQuery);
        }

        /**
         * Update this builder's properties to match the given query params.
         */
        updateQueryParams(params) {
          if (!params) {
            this.clearQuery();
            return;
          }
          const batchUpdate = this.emptyQuery;
          if (!this.computeIsLatest(params.sha)) {
            batchUpdate.sha = params.sha;
          }
          if ('product' in params) {
            batchUpdate.products = params.product.map(p => this.parseProductSpec(p));
          }
          // Expand any global channel labels into the separate products
          let sharedChannel;
          if ('label' in params) {
            sharedChannel = params.label.find(l => CHANNELS.has(l));
            batchUpdate.labels = params.label.filter(l => !CHANNELS.has(l));
          }
          if (sharedChannel) {
            for (const i in batchUpdate.products) {
              const labels = batchUpdate.products[i].labels.filter(l => !CHANNELS.has(l) || l === sharedChannel);
              if (!batchUpdate.products[i].labels.includes(sharedChannel)) {
                labels.push(sharedChannel);
              }
              batchUpdate.products[i].labels = labels;
            }
          }
          if ('max-count' in params) {
            batchUpdate.maxCount = params['max-count'];
          }
          if ('aligned' in params) {
            batchUpdate.aligned = params.aligned;
          }
          this.setProperties(batchUpdate);
        }
      };
  </script>
</dom-module>
