<!--
Copyright 2017 The WPT Dashboard Project. All rights reserved.
Use of this source code is governed by a BSD-style license that can be
found in the LICENSE file.
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../bower_components/paper-styles/color.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner-lite.html">
<link rel="import" href="./info-banner.html">
<link rel="import" href="./test-runs.html">
<link rel="import" href="./test-run.html">
<link rel="import" href="./loading-state.html">
<link rel="import" href="./product-info.html">

<dom-module id="wpt-runs">
  <template>
    <style>
      a {
        text-decoration: none;
        color: #0d5de6;
        font-family: monospace;
      }
      table {
        width: 100%;
        border-collapse: separate;
        margin-bottom: 2em;
      }
      td {
        padding: 0 0.5em;
        margin: 2px;
      }
      td.month {
        border-top: 1px solid var(--paper-blue-100);
      }
      .missing {
        background-color: var(--paper-grey-100);
      }
      .runs {
        text-align: center;
      }
      .runs a {
        display: inline-block;
      }
      .runs.present {
        background-color: var(--paper-blue-100);
      }
      paper-spinner-lite {
        display: block;
        margin: auto;
      }

      @media (max-width: 800px) {
        table tr td:first-child::after {
          content: "";
          display: inline-block;
          vertical-align: top;
          min-height: 30px;
        }
      }
    </style>

    <paper-spinner-lite active="[[isLoading]]" class="blue"></paper-spinner-lite>

    <template is="dom-if" if="[[loadingFailed]]">
      <info-banner type="error">
        Failed to load test runs.
      </info-banner>
    </template>

    <template is="dom-if" if="[[testResults.length]]">
      <info-banner>
        Showing the last month of test runs.
      </info-banner>

      <table>
        <thead>
          <tr>
            <th width="[[computeThWidth(browsers)]]">SHA</th>
            <template is="dom-repeat" items="{{ browsers }}" as="browser">
              <th width="[[computeThWidth(browsers)]]">[[displayName(browser)]]</th>
            </template>
          </tr>
        </thead>
        <tbody>

        <template is="dom-repeat" items="{{ testResults }}" as="results">
          <tr data-boundary$="{{ results.month_boundary }}">
            <td>
              <a href="/?sha={{ results.sha }}" title="{{ computeDateTooltip(results.firstRunDate) }}">{{ results.sha }}</a>
            </td>
            <template is="dom-repeat" items="{{ browsers }}" as="browser">
              <td class$="runs [[ runClass(results.runs, browser) ]]">
                <template is="dom-repeat" items="[[runList(results.runs, browser)]]" as="run">
                  <a href="[[runLink(run)]]">
                    <test-run small show-source test-run="[[run]]"></test-run>
                  </a>
                </template>
              </td>
            </template>
            <template is="dom-if" if="{{ results.month_boundary }}">
              <td class="month">{{ computeMonthName(results.date) }}</td>
            </template>
          </tr>
        </template>

        </tbody>
      </table>
    </template>

  </template>

  <script>
    /* global TestRunsBase, LoadingState */
    class WPTRuns extends LoadingState(TestRunsBase) {
      static get is() {
        return 'wpt-runs';
      }

      static get properties() {
        return {
          // Array({ sha, Array({ platform, run, sum }))
          testResults: {
            type: Array
          },
          browsers: {
            type: Array
          },
          displayedNodes: {
            type: Array,
            value: []
          },
          loadingFailed: {
            type: Boolean,
            value: false,
          },
        };
      }

      computeMonthName(date) {
        return [
          'January',
          'February',
          'March',
          'April',
          'May',
          'June',
          'July',
          'August',
          'September',
          'October',
          'November',
          'December'
        ][date.getMonth()];
      }

      computeDateTooltip(date) {
        return date && date.toDateString();
      }

      constructor() {
        super();
        this.onLoadingComplete = () => {
          this.loadingFailed = !this.testResults;
        };
      }

      async ready() {
        super.ready();
        await this.load(this.loadRuns().then(testRuns => {
          let browsers = new Set();
          // Group the runs by their revision/SHA
          let testRunsBySha = testRuns.reduce((accum, results) => {
            browsers.add(results.browser_name);
            if (!accum[results.revision]) {
              accum[results.revision] = {};
            }
            if (!accum[results.revision][results.browser_name]) {
              accum[results.revision][results.browser_name] = [];
            }
            accum[results.revision][results.browser_name].push(results);
            return accum;
          }, {});

          // We flatten into an array of objects so Polymer can deal with them.
          const firstRunDate = runs => {
            return Object.values(runs)
              .reduce((oldest, runs) => {
                for (const time of runs.map(r => new Date(r.time_start))) {
                  if (time < oldest) {
                    oldest = time;
                  }
                }
                return oldest;
              }, new Date()); // Existing runs should be historical...
          };
          const flattened = Object.entries(testRunsBySha)
            .map(([sha, runs]) => ({ sha, runs, firstRunDate: firstRunDate(runs) }))
            .sort((a, b) => b.firstRunDate.getTime() - a.firstRunDate.getTime());

          // Append time (month) metadata.
          if (flattened.length > 1) {
            let previousMonth = -1;
            for (let i = 0; i < flattened.length; i++) {
              let current = flattened[i].firstRunDate;
              flattened[i].date = current;
              if (previousMonth !== current.getMonth()) {
                flattened[i].month_boundary = true;
              }
              previousMonth = current.getMonth();
            }
          }
          this.testResults = flattened;
          this.browsers = Array.from(browsers).sort();
        }));
      }

      runClass(testRuns, browser) {
        let testRun = testRuns[browser];
        if (!testRun) {
          return 'missing';
        }
        return 'present';
      }

      runList(testRuns, browser) {
        return testRuns[browser] || [];
      }

      runLink(run) {
        let link = new URL('/results', window.location);
        link.searchParams.set('sha', run.revision);
        for (const label of ['experimental', 'stable']) {
          if (run.labels && run.labels.includes(label)) {
            link.searchParams.append('label', label);
          }
        }
        return link.toString();
      }

      computeThWidth(browsers) {
        return `${100 / (browsers.length + 2)}%`;
      }
    }

    window.customElements.define(WPTRuns.is, WPTRuns);
  </script>
</dom-module>
