<!--
Copyright 2018 The WPT Dashboard Project. All rights reserved.
Use of this source code is governed by a BSD-style license that can be
found in the LICENSE file.
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../components/wpt-env-flags.html">

<!--
`<wpt-flags>` is a component for checking wpt.fyi feature flags.
-->
<dom-module id="wpt-flags">
  <script>
    const WPT_FYI_FEATURES = ['queryBuilder', 'diffFromAPI', 'diffFilter'];

    const _wptFlags = (superClass, readOnly) => class extends superClass {
      static get is() {
        return 'wpt-flags';
      }

      static get properties() {
        const props = {};
        for (const feature of WPT_FYI_FEATURES) {
          const stored = localStorage.getItem(`features.${feature}`);
          let value = stored && JSON.parse(stored);
          // Fall back to env default.
          if (value === null) {
            value = window.WPTEnvironmentFlags
              && window.WPTEnvironmentFlags[feature];
          }
          props[feature] = {
            type: Boolean,
            readOnly: readOnly,
            notify: true,
            value: value,
          };
        }
        return props;
      }
    };
    // eslint-disable-next-line no-unused-vars
    const WPTFlags = (superClass) => _wptFlags(superClass, /*readOnly*/ true);
  </script>
</dom-module>

<dom-module id="wpt-flags-editor">
  <template>
    <paper-item>
      <paper-checkbox checked="{{queryBuilder}}">
        Query Builder component
      </paper-checkbox>
    </paper-item>
    <paper-item>
      <paper-checkbox checked="{{diffFromAPI}}">
        Compute diffs using /api/diff
      </paper-checkbox>
    </paper-item>
    <paper-item>
      <paper-checkbox checked="{{diffFilter}}">
        Filter toggle for diff view
      </paper-checkbox>
    </paper-item>
  </template>

  <script>
    /* global _wptFlags, WPT_FYI_FEATURES */
    class WPTFlagsEditor extends _wptFlags(window.Polymer.Element, /*readOnly*/ false) {
      static get is() {
        return 'wpt-flags-editor';
      }

      ready() {
        super.ready();
        for (const feature of WPT_FYI_FEATURES) {
          this._createMethodObserver(`valueChanged(${feature}, '${feature}')`);
        }
      }

      valueChanged(value, feature) {
        return localStorage.setItem(
          `features.${feature}`,
          JSON.stringify(value));
      }
    }

    window.customElements.define(WPTFlagsEditor.is, WPTFlagsEditor);
  </script>
</dom-module>
