<!--
Copyright 2018 The WPT Dashboard Project. All rights reserved.
Use of this source code is governed by a BSD-style license that can be
found in the LICENSE file.
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="wpt-env-flags.html">

<!--
`<wpt-flags>` is a component for checking wpt.fyi feature flags.
-->
<dom-module id="wpt-flags">
  <script>
    const WPT_FYI_FEATURES = [
      'queryBuilder',
      'queryBuilderSHA',
      'diffFromAPI',
      'diffFilterUIToggle',
      'colorHomepage',
      'structuredQueries',
      'masterRunsOnly',
    ];

    const _wptFlags = (superClass, readOnly, useLocalStorage) => class extends superClass {
      static get is() {
        return 'wpt-flags';
      }

      static get properties() {
        if (!window.wpt) {
          window.wpt = {};
        }
        const props = {};
        for (const feature of WPT_FYI_FEATURES) {
          let value = null;
          if (useLocalStorage) {
            const stored = localStorage.getItem(`features.${feature}`);
            value = stored && JSON.parse(stored);
          }
          // Fall back to env default.
          if (value === null) {
            value = window.WPTEnvironmentFlags
              && window.WPTEnvironmentFlags[feature];
          }
          props[feature] = {
            type: Boolean,
            readOnly: readOnly && !window.wpt.MUTABLE_FLAGS,
            notify: true,
            value: value,
          };
        }
        return props;
      }
    };
    // eslint-disable-next-line no-unused-vars
    const WPTFlags = (superClass) => _wptFlags(superClass, /*readOnly*/ true, /*useLocalStorage*/ true);
  </script>
</dom-module>

<dom-module id="wpt-flags-editor">
  <template>
    <style>
      paper-item[sub-item] {
        margin-left: 32px;
      }
    </style>
    <paper-item>
      <paper-checkbox checked="{{queryBuilder}}">
        Query Builder component
      </paper-checkbox>
    </paper-item>
    <paper-item sub-item>
      <paper-checkbox checked="{{queryBuilderSHA}}">
        SHA input
      </paper-checkbox>
    </paper-item>
    <paper-item sub-item>
      <paper-checkbox checked="{{masterRunsOnly}}">
        'Master only' input
      </paper-checkbox>
    </paper-item>
    <paper-item>
      <paper-checkbox checked="{{diffFromAPI}}">
        Compute diffs using /api/diff
      </paper-checkbox>
    </paper-item>
    <paper-item>
      <paper-checkbox checked="{{diffFilterUIToggle}}">
        Filter toggle for diff view
      </paper-checkbox>
    </paper-item>
    <paper-item>
      <paper-checkbox checked="{{colorHomepage}}">
        Use pass-rate colors on the homepage
      </paper-checkbox>
    </paper-item>
    <paper-item>
      <paper-checkbox checked="{{structuredQueries}}">
        Interpret query strings as structured queries over test names and test
        status/result values
      </paper-checkbox>
    </paper-item>
  </template>

  <script>
    /* global _wptFlags, WPT_FYI_FEATURES */
    const _wptFlagsEditor = (environmentFlags) =>
      class extends _wptFlags(window.Polymer.Element, /*readOnly*/ false, /*useLocalStorage*/ !environmentFlags) {
        ready() {
          super.ready();
          for (const feature of WPT_FYI_FEATURES) {
            this._createMethodObserver(`valueChanged(${feature}, '${feature}')`);
          }
        }

        valueChanged(value, feature) {
          if (environmentFlags) {
            fetch(`/admin/flags`, {
              method: 'POST',
              body: JSON.stringify({
                Name: feature,
                Enabled: value,
              }),
              credentials: 'include',
            }).catch(e => {
              alert(`Failed to save feature ${feature}.\n\n${e}`);
            });
          } else {
            return localStorage.setItem(
              `features.${feature}`,
              JSON.stringify(value));
          }
        }
      };

    class WPTFlagsEditor extends _wptFlagsEditor(/*environmentFlags*/ false) {
      static get is() {
        return 'wpt-flags-editor';
      }
    }
    window.customElements.define(WPTFlagsEditor.is, WPTFlagsEditor);
  </script>
</dom-module>

<dom-module id="wpt-environment-flags-editor">
  <script>
    class WPTEnvironmentFlagsEditor extends _wptFlagsEditor(/*environmentFlags*/ true) {
      static get is() {
        return 'wpt-environment-flags-editor';
      }
    }

    // Copy the WPTFlags template.
    (() => {
      const template = Symbol();
      Object.defineProperty(WPTEnvironmentFlagsEditor, 'template', {
        get: function() {
          if (!this[template]) {
            this[template] = window.Polymer.DomModule.import(WPTFlagsEditor.is, 'template');
          }
          return this[template];
        }
      });
    })();

    window.customElements.define(WPTEnvironmentFlagsEditor.is, WPTEnvironmentFlagsEditor);
  </script>
</dom-module>
