          version: 2
updates:
- package-ecosystem: "pip"
  directory: "/results-processor"
  schedule:
    interval: "weekly"
- package-ecosystem: "gomod"
  directory: "/"
  schedule:
    interval: "weekly"
  ignore:
  # https://github.com/web-platform-tests/wpt.fyi/commit/e52c7487ac4257ba39f8f081782a6443e9fd6a79
  - dependency-name: "google.golang.org/genproto"
- package-ecosystem: "npm"
  directory: "/webapp"
  schedule:
    interval: "weekly"
  ignore:
  # https://github.com/web-platform-tests/wpt.fyi/commit/9b99cfd70568dc8d991d2b13ad9c5aec53c390a6
  - dependency-name: "@vaadin/vaadin-grid"
  - dependency-name: "@vaadin/vaadin-date-picker"
  - dependency-name: "@vaadin/vaadin-context-menu"
- package-ecosystem: "npm"
  directory: "/webdriver"
  schedule:
    interval: "weekly"
  ignore:
  # https://github.com/web-platform-tests/wpt.fyi/commit/9b99cfd70568dc8d991d2b13ad9c5aec53c390a6
  - dependency-name: "@vaadin/vaadin-grid"
  - dependency-name: "@vaadin/vaadin-date-picker"
  - dependency-name: "@vaadin/vaadin-context-menu"
- package-ecosystem: "docker"
  directory: "/results-processor"
  schedule:
    interval: "weekly"
  # Results Processor Docker image should ignore major and minor updates to Docker Python Image
  # There may be deprecations moving between minor vesrions that we need to
  # test.
  ignore:
    - dependency-name: "*"
      update-types:
        - "version-update:semver-major"
        - "version-update:semver-minor"
- package-ecosystem: "docker"
  directory: "/"
  schedule:
    interval: "weekly"
  # Webapp/Developer Docker image should ignore major and minor updates to Docker Go Image.
  # Go versions are backwards compatible but we want to stay with the
  # major.minor version supported by App Engine Standard. That should be
  # updated manually.
  ignore:
    - dependency-name: "*"
      update-types:
        - "version-update:semver-major"
        - "version-update:semver-minor"
- package-ecosystem: "docker"
  directory: "/api/query/cache/service"
  schedule:
    interval: "weekly"
  # Searchcache Docker image should ignore major and minor updates to Docker Go Image
  # Searchcache follows the bring-your-own-container paradigm because it uses
  # App Engine Flex. While we could use the latest version, we want this Go
  # version to follow the same version used in the webapp above (which uses
  # App Engine Standard).
  ignore:
    - dependency-name: "*"
      update-types:
        - "version-update:semver-major"
        - "version-update:semver-minor"
- package-ecosystem: "docker"
  directory: "/webapp/web"
  schedule:
    interval: "weekly"
  # Searchcache Docker image should ignore major and minor updates to Docker Go Image
  # Searchcache follows the bring-your-own-container paradigm because it uses
  # App Engine Flex. While we could use the latest version, we want this Go
  # version to follow the same version used in the webapp above (which uses
  # App Engine Standard).
  ignore:
    - dependency-name: "*"
      update-types:
        - "version-update:semver-major"
        - "version-update:semver-minor"  
