# Files matching the following rules won't be copied into the image for the "COPY" operation.
# The syntax is the same as `.gitignore`; docker does not use `.gitignore` directly

# Visual Code Settings
.vscode
# Git Index
.git

# Dockerfile itself does not need to be copied into the image
Dockerfile

# Packaged version of webapp
webapp/web/wpt.fyi/