node_modules/
debug.test
packrd/
*-packr.go
/web

# Google Cloud secret
client-secret.json

# Packaged webapp from `make package_service`
webapp/web/wpt.fyi/

# Packaged searchcache from `make package_service`
api/query/cache/service/wpt.fyi/
