# Copyright 2017 The WPT Dashboard Project. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

sudo: required

branches:
  only:
    - master

# Ensure latest stable chrome for WCT
addons:
  chrome: stable

services:
  - docker

matrix:
  include:
    - language: go
      env:
        - OUTSIDE_DOCKER=true
        - MAKE_TEST_TARGET=integration_test
    - language: go
      env:
        - MAKE_TEST_TARGET=lint
    - language: go
      env:
        - MAKE_TEST_TARGET=go_test
    - language: go
      env:
        - secure: "UuTZnGD+HSB+EYQFg2+lKhDwxlDUtU/uz4XdUG8/8F7Us9G7e7w/DL0jhnzpHjK13ig7Yafj83zZmNszpfaXhNdNp2glhiIeuupODODd24tRA4e9DBIoEToJEyjkXD7RttK4H7SaRp12yVEnE+gnUTiDCOJQHmkDl6DHwwUfeTG3P+dKgHsybdrXcUZG+ff4DPrwq9B6NU7izKC3QqByfcxhfxv+SE9e6vi8LKs6qdRbg4PnPEOc85kiqMmtqNHQ7hph3Np3oEaEeZqMylo2hKh/gXxWgNjH3uFwEtJx7sWYL/c3HpiNRMTPUFVJmGaU/xQqH3gGqEbt0QIjrQVFGJZ0wjJoha1+TigIB9LjJ3eSJCtUwj6naWwi0laOZJyR4L/+XCWpNRH2SjLvakIjims7ZEKbE3rVA/Vr0mY67NLnEm0fh6xglN2Jlm5Mag5hw3bHcOi72sQthjQofEtUE0fElAEGc4wBVCd87LzcLyCvZhg6VeJ/M+kC4uJuiMQJ6qkO92UDaV0bvY9svLlGBuBbd/PH0YPh0kkTUlH5IzJx/wymE2mSwtP8af1n0IBIItVfq6uuzct5IhEZvMoZsDv1pU5pqM/ucRuuvb6rtZedGpGjBZacM1uNa/MbvnF5imAHxfY7783saGaIpdNr6k4cxmHglelxwSR0zqujU2Q="
        - MAKE_DEPLOY_TARGET=webapp_deploy_staging

before_install: |
  export DOCKER_FILE=Dockerfile.dev
  export DOCKER_IMAGE=wptd-dev
  export DOCKER_INSTANCE=wptd-dev-${RANDOM}
  # Decrypt client-secret.json for Appengine.
  openssl aes-256-cbc -K $encrypted_c8659b25fe66_key -iv $encrypted_c8659b25fe66_iv -in client-secret.json.enc -out client-secret.json -d

  docker build -t wptd-base -f Dockerfile.base .
  docker build -t "${DOCKER_IMAGE}" -f "${DOCKER_FILE}" .
  docker run -t -d \
      --entrypoint /bin/bash \
      -v /etc/group:/etc/group:ro \
      -v /etc/passwd:/etc/passwd:ro \
      -v "$(pwd)":/home/jenkins/wpt.fyi \
      -u $(id -u $USER):$(id -g $USER) \
      --name "${DOCKER_INSTANCE}" \
      "${DOCKER_IMAGE}"

install:
  - | # Set the user as home dir owner in the docker instance
    docker exec -u 0:0 "${DOCKER_INSTANCE}" chown -R $(id -u $USER):$(id -g $USER) /home/jenkins

script:
  - |
    # Deploy PR to staging environment (only when Travis secrets are available).
    # Note: Travis 'deploy' task is skipped for PRs, so can't be used for this.
    if [ "${MAKE_DEPLOY_TARGET}" != "" ] \
        && [ "${TRAVIS_SECURE_ENV_VARS}" != "false" ] \
        && [ "${TRAVIS_PULL_REQUEST_BRANCH}" != "" ];
    then
      # Skip if webapp isn't modified.
      git diff --name-only FETCH_HEAD...${TRAVIS_PULL_REQUEST_BRANCH} | grep ^webapp/ || {
        echo "No webapp updates, skipping staging deployment."
        exit 0
      }

      echo "Copying output to ${TEMP_FILE:=$(mktemp)}"
      # NOTE: Most gcloud output is stderr, so need to redirect it to stdout.
      docker exec -t -u $(id -u $USER):$(id -g $USER) "${DOCKER_INSTANCE}" make "${MAKE_DEPLOY_TARGET}" BRANCH_NAME=${TRAVIS_PULL_REQUEST_BRANCH} 2>&1 | tee ${TEMP_FILE}
      if [ "${EXIT_CODE:=${PIPESTATUS[0]}}" != "0" ]; then exit ${EXIT_CODE}; fi
      DEPLOYED_URL="$(grep -Po 'Deployed to \K[^\s]+' ${TEMP_FILE} | tr -d '\n')"
      util/deploy-comment.sh "${DEPLOYED_URL}"
    fi
  - | # Run tests
    if [ "${MAKE_TEST_TARGET}" != "" ]; then
      fi [ ${OUTSIDE_DOCKER} == true ]; then
        make "${MAKE_TEST_TARGET}"
      else
        docker exec -t -u $(id -u $USER):$(id -g $USER) "${DOCKER_INSTANCE}" make "${MAKE_TEST_TARGET}"
      fi
    fi

# Continuously deploy master to staging.
deploy:
  skip_cleanup: true
  provider: script
  on:
    branch: master
    repo: web-platform-tests/wpt.fyi
    condition: ${TRAVIS_SECURE_ENV_VARS} == true
  script: docker exec -t -u $(id -u $USER):$(id -g $USER) "${DOCKER_INSTANCE}" make webapp_deploy_staging BRANCH_NAME=master
