# Copyright 2017 The WPT Dashboard Project. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

sudo: required

branches:
  only:
    - master

# Ensure latest stable chrome for WCT
addons:
  chrome: stable

services:
  - docker

matrix:
  include:
    - env:
        - MAKE_TEST_TARGET=python_test
    - env:
        - MAKE_TEST_TARGET=integration_test
    - env:
        - MAKE_TEST_TARGET=lint
    - env:
        - MAKE_TEST_TARGET=go_test
    - if: type = pull_request
      env:
        - secure: "wQIAV/OJdWTKkqnnL6pKQC8R0nChV6yRT2MK49qZV0ulA/0a6V9G+oIlbixI04CgLbsjExGDUY6ZiSYgd8rPixuWNIP1sG//AwUfNggpyQF0rFqPRrGOKJD+TkvGgTu8c8nSK0Rxlw3d+Yy7wXKdtzsP/4euub7eYLHhYlDXhw6ANE9jmtwyTCyM+MdHvnEsvDEXkXExvpurGSsXxPwG8CCLKLRp1O2BJwh9PPn+likU9AT6HFedhoW+Jv9YFnrqCtgCNzucQTTILDoLLvz4+Kk7FYmLriWXPT+QWL87tYFGI0gZev3+XdpTLJWjh1XUw35pYZzZsgRkl7y7uVUPFsYWoUXLoX9gv6Qp1sR+2hN9Z/CNSMNwrTVIAyE+db9q+wWpesy7L72bmaVri2PFqhz+uvNQ3hM2Lu4e/mjj4E8uVE9nTiWtBwnb7376nDemeHxeV3ADbEZceTHuIKxtyP1A6gXCxswGGzPJLrmCjq0XSPgskcpWOR4xRSKYior0Bhd+ULPKO7GzX2AMKxMpkELUf8XjhVpJXZjdemqV+ppV69JBmRQLDWsZQgmT0y/aclgSNVk3lVr/c2STHpmdhAWlgkjnaxqofLt5JIh1YHkJYaDxWbLyuuMTcpPKCdbJGAg4/PvCMo6bwurVBCS2+mqTxD6SfYXm7eFwhd7aJDA="
        - DEPLOY_PR_STAGING=true
    - if: (type = push) AND (branch = master)
      env:
        - secure: "wQIAV/OJdWTKkqnnL6pKQC8R0nChV6yRT2MK49qZV0ulA/0a6V9G+oIlbixI04CgLbsjExGDUY6ZiSYgd8rPixuWNIP1sG//AwUfNggpyQF0rFqPRrGOKJD+TkvGgTu8c8nSK0Rxlw3d+Yy7wXKdtzsP/4euub7eYLHhYlDXhw6ANE9jmtwyTCyM+MdHvnEsvDEXkXExvpurGSsXxPwG8CCLKLRp1O2BJwh9PPn+likU9AT6HFedhoW+Jv9YFnrqCtgCNzucQTTILDoLLvz4+Kk7FYmLriWXPT+QWL87tYFGI0gZev3+XdpTLJWjh1XUw35pYZzZsgRkl7y7uVUPFsYWoUXLoX9gv6Qp1sR+2hN9Z/CNSMNwrTVIAyE+db9q+wWpesy7L72bmaVri2PFqhz+uvNQ3hM2Lu4e/mjj4E8uVE9nTiWtBwnb7376nDemeHxeV3ADbEZceTHuIKxtyP1A6gXCxswGGzPJLrmCjq0XSPgskcpWOR4xRSKYior0Bhd+ULPKO7GzX2AMKxMpkELUf8XjhVpJXZjdemqV+ppV69JBmRQLDWsZQgmT0y/aclgSNVk3lVr/c2STHpmdhAWlgkjnaxqofLt5JIh1YHkJYaDxWbLyuuMTcpPKCdbJGAg4/PvCMo6bwurVBCS2+mqTxD6SfYXm7eFwhd7aJDA="
        - DEPLOY_STAGING=true
        - MAKE_TEST_TARGET=go_all_browsers_test
        - MAKE_TEST_FLAGS="STAGING=true"

before_install: |
  export DOCKER_IMAGE=wptd-dev
  export DOCKER_INSTANCE=wptd-dev-${RANDOM}
  # Decrypt client-secret.json for Appengine.
  openssl aes-256-cbc -K $encrypted_c8659b25fe66_key -iv $encrypted_c8659b25fe66_iv -in client-secret.json.enc -out client-secret.json -d

  docker build -t "${DOCKER_IMAGE}" .
  bash ./util/docker-dev/run.sh -d -q

install:
  - | # Set the user as home dir owner in the docker instance
    docker exec -u 0:0 "${DOCKER_INSTANCE}" chown -R $(id -u $USER):$(id -g $USER) /home/user

script:
  - |
    # Deploy PR to staging environment (only when Travis secrets are available).
    # Note: Done here (in 'script', not 'deploy') because we need deploy to happen before staging webdriver test.
    if [ "${DEPLOY_STAGING}" == "true" ]; then
      bash util/travis-deploy-staging.sh -f webapp;
      bash util/travis-deploy-staging.sh -f results-processor;
      bash util/travis-deploy-staging.sh -f revisions/service;
    elif [ "${DEPLOY_PR_STAGING}" == "true" ]; then
      bash util/travis-deploy-staging.sh webapp;
      bash util/travis-deploy-staging.sh results-processor;
      bash util/travis-deploy-staging.sh revisions/service;
    else
      echo "Not on master or a PR. Skipping deployment.";
    fi
  - | # Run tests
    if [ "${MAKE_TEST_TARGET}" != "" ]; then
      docker exec -t -u $(id -u $USER):$(id -g $USER) "${DOCKER_INSTANCE}" make "${MAKE_TEST_TARGET}" ${MAKE_TEST_FLAGS}
    fi
