<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <script src="../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
  <script src="../../bower_components/web-component-tester/browser.js"></script>

  <link rel="import" href="./util/helpers.html">
  <link rel="import" href="../interop.html">
</head>
<body>
  <test-fixture id="wpt-interop-fixture">
    <template>
      <wpt-interop></wpt-interop>
    </template>
  </test-fixture>
  <script>
    /* global WPTInterop, waitingOn */
    suite('WPTInterop', () => {
      const fetches = {};
      let sandbox;

      setup(async() => {
        sandbox = sinon.sandbox.create();

        const interop = await fetch('fixtures/interop.json').then(r => r.json());
        fetches['/api/interop'] = interop;
        fetches[interop.url] = await fetch('fixtures/passrates.json').then(r => r.json());

        sandbox.stub(window, 'fetch', (url) => {
          return Promise.resolve(new Response(fetches[url]));
        });
      });

      teardown(done => {
        sandbox.restore();
        done();
      });

      test('instanceof Polymer.Element', () => {
        assert.isTrue(new WPTInterop() instanceof window.Polymer.Element);
        assert.isTrue(document.createElement('wpt-interop') instanceof window.Polymer.Element);
      });

      suite('static get is()', () => {
        test('wpt-interop', () => {
          assert.equal(WPTInterop.is, 'wpt-interop');
        });
      });

      suite('WPTInterop.prototype.*', () => {
        setup((done) => {
          sandbox.spy(window.Polymer.Element.prototype, 'ready');
          sandbox.spy(WPTInterop.prototype, 'fetchMetrics');

          fixture('wpt-interop-fixture');

          done();
        });

        suite('async ready()', () => {
          test('super.ready()', () => {
            return waitingOn(() => window.Polymer.Element.prototype.ready.called);
          });

          test('fetches interop', () => {
            return waitingOn(() => window.fetch.calledWith('/api/interop'));
          });
        });

        suite('async fetchMetrics()', () => {
          test('Calls window.fetch(...)', () => {
            return waitingOn(() => window.fetch.calledWith(fetches['/api/interop'].url));
          });
        });
      });

    });
  </script>
</body>
</html>
