<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <script src="../../../@webcomponents/webcomponentsjs/webcomponents-bundle.js"></script>
  <script src="../../../wct-browser-legacy/browser.js"></script>

  <script type="module" src="./util/helpers.js"></script>
  <script type="module" src="../interop.js"></script>
</head>
<body>
  <test-fixture id="wpt-interop-fixture">
    <template>
      <wpt-interop></wpt-interop>
    </template>
  </test-fixture>
  <script type="module">
import './util/helpers.js';
import '../interop.js';
import { PolymerElement } from '../../../@polymer/polymer/polymer-element.js';
/* global WPTInterop, waitingOn */
suite('WPTInterop', () => {
  const fetches = {};
  let sandbox;

  setup(async() => {
    sandbox = sinon.sandbox.create();

    const interop = await fetch('fixtures/interop.json').then(r => r.json());
    fetches['/api/interop'] = interop;
    fetches[interop.url] = await fetch('fixtures/passrates.json').then(r => r.json());

    sandbox.stub(window, 'fetch', (url) => {
      return Promise.resolve(new Response(fetches[url]));
    });
  });

  teardown(done => {
    sandbox.restore();
    done();
  });

  test('instanceof Polymer.Element', () => {
    assert.isTrue(new WPTInterop() instanceof PolymerElement);
    assert.isTrue(document.createElement('wpt-interop') instanceof PolymerElement);
  });

  suite('static get is()', () => {
    test('wpt-interop', () => {
      assert.equal(WPTInterop.is, 'wpt-interop');
    });
  });

  suite('WPTInterop.prototype.*', () => {
    setup((done) => {
      sandbox.spy(PolymerElement.prototype, 'ready');

      fixture('wpt-interop-fixture');

      done();
    });

    suite('async ready()', () => {
      test('super.ready()', () => {
        return waitingOn(() => PolymerElement.prototype.ready.called);
      });

      test('fetches interop', () => {
        return waitingOn(() => window.fetch.calledWith('/api/interop'));
      });
    });
  });

});
</script>
</body>
</html>
