<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <script src="../../node_modules/@webcomponents/webcomponentsjs/webcomponents-bundle.js"></script>
  <script src="../../node_modules/wct-browser-legacy/browser.js"></script>

  <script type="module" src="../../node_modules/@polymer/polymer/polymer-element.js"></script>
  <script type="module" src="../loading-state.js"></script>
</head>

<dom-module id="loading-state-concrete">
  <script type="module">
import { PolymerElement } from '../../node_modules/@polymer/polymer/polymer-element.js';
import '../loading-state.js';
/* global LoadingState */
class ConcreteType extends LoadingState(PolymerElement) {}

window.customElements.define('loading-state-concrete', ConcreteType);
</script>
</dom-module>

<test-fixture id="loading-state-fixture">
  <template>
    <loading-state-concrete></loading-state-concrete>
  </template>
</test-fixture>

<body>
  <script type="module">
import '../../node_modules/@polymer/polymer/polymer-element.js';
import '../loading-state.js';
suite('LoadingState', () => {
  let state;

  setup(() => {
    state = fixture('loading-state-fixture');
  });

  suite('LoadingState.prototype.*', () => {
    suite('onLoadingComplete', () => {
      let completeCallback;

      setup(() => {
        completeCallback = sinon.spy();
        state.onLoadingComplete = completeCallback;
      });

      test('executed when count reaches zero', async() => {
        state.loadingCount++;
        state.loadingCount--;
        assert.isTrue(completeCallback.calledOnce);
      });

      test('executed when load returns', async() => {
        await state.load(Promise.resolve());
        assert.isTrue(completeCallback.calledOnce);
      });

      test('but not when already zero', () => {
        state.loadingCount = 0;
        assert.isTrue(completeCallback.notCalled);
      });
    });
  });
});
</script>
</body>

</html>
