<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <script src="../../node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>
  <script src="../../node_modules/wct-browser-legacy/browser.js"></script>
</head>
<body>
  <dom-module id="path-info-concrete">
    <script type="module">
      import { PolymerElement } from '../../node_modules/@polymer/polymer/polymer-element.js';
      import { PathInfo } from '../path.js';

      class ConcreteType extends PathInfo(PolymerElement) {}
      window.customElements.define('path-info-concrete', ConcreteType);
    </script>
  </dom-module>

  <test-fixture id="path-info-fixture">
    <template>
      <path-info-concrete></path-info-concrete>
    </template>
  </test-fixture>

  <test-fixture id="path-part-dir-prefixed-fixture">
    <template>
      <path-part path="/a/b" is-dir="true" prefix="/foo" navigate="navigate"></path-part>
    </template>
  </test-fixture>

  <test-fixture id="path-part-dir-fixture">
    <template>
      <path-part path="/a/b" is-dir="true" navigate="navigate"></path-part>
    </template>
  </test-fixture>

  <test-fixture id="path-part-file-prefixed-fixture">
    <template>
      <path-part path="/a/b/c.html" is-dir="false" prefix="/foo" navigate="navigate"></path-part>
    </template>
  </test-fixture>

  <test-fixture id="path-part-file-fixture">
    <template>
      <path-part path="/a/b/c.html" is-dir="false" navigate="navigate"></path-part>
    </template>
  </test-fixture>

  <script type="module">
import { PathPart } from '../path.js';
import { PolymerElement } from '../../node_modules/@polymer/polymer/polymer-element.js';

suite('PathInfo', () => {
  let pathInfo;

  setup(() => {
    pathInfo = fixture('path-info-fixture');
  });

  test('pathIsATestPath', () => {
    pathInfo.path = '/a/b.html';
    expect(pathInfo.pathIsATestFile).to.be.true;
    pathInfo.path = '/a/b.html?x=1';
    expect(pathInfo.pathIsATestFile).to.be.true;
    pathInfo.path = '/a/b.html?x=:a/b/:';
    expect(pathInfo.pathIsATestFile).to.be.true;
    pathInfo.path = '/a/b/';
    expect(pathInfo.pathIsATestFile).to.be.false;
  });

  test('encodeTestPath', () => {
    expect(pathInfo.encodeTestPath('/a/b.html')).to.equal('/a/b.html');
    expect(pathInfo.encodeTestPath('/a/b/')).to.equal('/a/b/');
    expect(pathInfo.encodeTestPath('/a/b/?c=d')).to.equal('/a/b/%3Fc%3Dd');

    // Specific example.
    expect(pathInfo.encodeTestPath('/webgpu/cts.html?q=cts:command_buffer/basic:'))
      .to.equal('/webgpu/cts.html%3Fq%3Dcts%3Acommand_buffer%2Fbasic%3A');
  });

  test('splitPathIntoLinkedParts', () => {
    expect(pathInfo.splitPathIntoLinkedParts('/a/b.html')).to.deep.equal([
      {name: 'a', path: '/a'},
      {name: 'b.html', path: '/a/b.html'},
    ]);

    expect(pathInfo.splitPathIntoLinkedParts('/webgpu/cts.html?q=cts:command_buffer/basic:'))
      .to.deep.equal([
        {name: 'webgpu', path: '/webgpu'},
        {name: 'cts.html?q=cts:command_buffer/basic:', path: '/webgpu/cts.html%3Fq%3Dcts%3Acommand_buffer%2Fbasic%3A'},
      ]);
  });
});

suite('PathPart', () => {
  let sandbox, ppdir, ppfile, ppdirprefixed, ppfileprefixed;

  setup(() => {
    ppdir = fixture('path-part-dir-fixture');
    ppfile = fixture('path-part-file-fixture');
    ppdirprefixed = fixture('path-part-dir-prefixed-fixture');
    ppfileprefixed = fixture('path-part-file-prefixed-fixture');

    sandbox = sinon.sandbox.create();
  });

  teardown(() => {
    sandbox.restore();
  });

  test('instanceof Polymer.Element', () => {
    assert.isTrue(new PathPart() instanceof PolymerElement);
    assert.isTrue(document.createElement('path-part') instanceof PolymerElement);
  });

  suite('static get is()', () => {
    test('path-part', () => {
      assert.equal(PathPart.is, 'path-part');
    });
  });

  suite('PathPart.prototype.*', () => {
    suite('href: computeHref(prefix, path)', () => {
      test('computeHref()', () => {
        assert.equal(typeof PathPart.prototype.computeHref, 'function');
        assert.equal(ppdir.computeHref('x/', 'y').pathname, '/x/y');
        assert.equal(ppdir.computeHref('', 'y').pathname, '/y');
        assert.equal(ppdir.computeHref('x', '').pathname, '/x/');
        assert.equal(ppdir.computeHref(undefined, '').pathname, '/');
      });
      test('computeHref([default], path)', () => {
        assert.equal(ppdir.href.pathname, '/a/b');
        assert.equal(ppfile.href.pathname, '/a/b/c.html');
      });
      test('computeHref([foo], path)', () => {
        assert.equal(ppdirprefixed.href.pathname, '/foo/a/b');
        assert.equal(ppfileprefixed.href.pathname, '/foo/a/b/c.html');
      });
      test('computeHref(...) recomputes when prefix changed', () => {
        assert.equal(ppdir.href.pathname, '/a/b');
        assert.equal(ppfile.href.pathname, '/a/b/c.html');

        ppdir.prefix = '/bar';
        ppfile.prefix = '/bar';

        assert.equal(ppdir.href.pathname, '/bar/a/b');
        assert.equal(ppfile.href.pathname, '/bar/a/b/c.html');
      });
    });
    suite('relativePath: computeDisplayableRelativePath(path)', () => {
      test('computeDisplayableRelativePath()', () => {
        assert.equal(typeof PathPart.prototype.computeDisplayableRelativePath, 'function');
        assert.equal(ppdir.computeDisplayableRelativePath(''), '/');
        assert.equal(ppdir.computeDisplayableRelativePath('foo'), 'foo/');
      });

      test('computeDisplayableRelativePath(...)', () => {
        assert.equal(ppdir.relativePath, '/a/b/');
      });
      test('computeDisplayableRelativePath(...) (has prefix, is removed)', () => {
        assert.equal(ppdirprefixed.relativePath, '/a/b/');
      });
    });
    suite('styleClass: computePathClass(isDir)', () => {
      test('computePathClass()', () => {
        assert.equal(typeof PathPart.prototype.computePathClass, 'function');
        assert.equal(ppfile.computePathClass(true), 'dir-path');
        assert.equal(ppfile.computePathClass(false), 'file-path');
      });
      test('computePathClass(true)', () => {
        assert.equal(ppdir.styleClass, 'dir-path');
      });
    });
  });
});
</script>
</body>
</html>
