<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <script src="../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
  <script src="../../bower_components/web-component-tester/browser.js"></script>

  <link rel="import" href="../../bower_components/polymer/polymer-element.html">
  <link rel="import" href="../test-runs-query.html">
</head>
<body>
  <script>
    /* global expect, TestRunsQuery */
    suite('TestRunsQuery', () => {
      let testRunsQuery;

      setup(() => {
        if (!window.customElements.get('test-runs-query')) {
          class ConcreteClass extends TestRunsQuery(window.Polymer.Element) {}
          window.customElements.define('test-runs-query', ConcreteClass);
        }
        testRunsQuery = document.createElement('test-runs-query');
      });

      test('instanceof Polymer.Element', () => {
        assert.isTrue(testRunsQuery instanceof window.Polymer.Element);
      });

      suite('TestRunsQuery.prototype.*', () => {

        const revision = '1234512345';
        const chrome = 'chrome';
        const labels = ['foo', 'bar'];
        const specStr = `${chrome}[${labels.join(',')}]@${revision}`;
        test(`parseProductSpec("${specStr}")`, () => {
          const parsed = testRunsQuery.parseProductSpec(specStr);
          assert.equal(parsed.browser_name, chrome);
          assert.equal(parsed.revision, revision);
          for (const label of labels) {
            expect(Array.from(parsed.labels)).to.include(label);
          }
        });

        const version63 = '63.0';
        const chrome63 = `chrome-${version63}`;
        test(`parseProduct(${chrome63})`, () => {
          const parsed = testRunsQuery.parseProduct(chrome63);
          assert.equal(parsed.browser_name, chrome);
          assert.equal(parsed.browser_version, version63);
        });

        test('no closing bracket', () => {
          expect(() => testRunsQuery.parseProductSpec('chrome[foo')).to.throw();
          expect(() => testRunsQuery.parseProductSpec('chrome[foo]')).to.not.throw();
        });
      });
    });
  </script>
</body>
</html>
