<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <script src="../../node_modules/@webcomponents/webcomponentsjs/webcomponents-bundle.js"></script>
  <script src="../../node_modules/wct-browser-legacy/browser.js"></script>

  <script type="module" src="../test-search.js"></script>
</head>
<body>
  <test-fixture id="test-search-fixture">
    <template>
      <test-search></test-search>
    </template>
  </test-fixture>

  <script type="module">
import { TestSearch } from '../test-search.js';

suite('<test-search>', () => {
  suite('Parser/interpreter', () => {
    const assertQueryParse = (query, structuredQuery) => {
      const G = TestSearch.QUERY_GRAMMAR;
      const S = TestSearch.QUERY_SEMANTICS;
      const p = G.match(query);
      assert.isTrue(p.succeeded());
      assert.deepEqual(structuredQuery, S(p).eval());
    };

    test('simple pattern', () => {
      assertQueryParse('2dcontext', {pattern: '2dcontext'});
    });

    test('test status eq', () => {
      assertQueryParse('sTaTuS:oK', {status: 'OK'});
    });

    test('test status neq', () => {
      assertQueryParse('StAtUs:!FaIl', {status: {not: 'FAIL'}});
    });

    test('browser test status eq', () => {
      assertQueryParse('cHrOmE:oK', {browser_name: 'chrome', status: 'OK'});
    });

    test('browser test status neq', () => {
      assertQueryParse('sAfArI:!FaIl', {browser_name: 'safari', status: {not: 'FAIL'}});
    });

    test('pattern + test status', () => {
      assertQueryParse('cssom firefox:timeout', {
        and: [
          {pattern: 'cssom'},
          {browser_name: 'firefox', status: 'TIMEOUT'},
        ],
      });
    });

    test('pattern | test status', () => {
      assertQueryParse('cssom or firefox:timeout', {
        or: [
          {pattern: 'cssom'},
          {browser_name: 'firefox', status: 'TIMEOUT'},
        ],
      });
    });

    test('implicit and, or', () => {
      assertQueryParse('a b or c', {
        and: [
          {pattern: 'a'},
          {
            or: [
              {pattern: 'b'},
              {pattern: 'c'},
            ],
          },
        ],
      });
    });

    test('explicit and, or', () => {
      assertQueryParse('a and b or c', {
        or: [
          {
            and: [
              {pattern: 'a'},
              {pattern: 'b'},
            ],
          },
          {pattern: 'c'},
        ],
      });
    });

    test('parens', () => {
      assertQueryParse('a and ( b or c )', {
        and: [
          {pattern: 'a'},
          {
            or: [
              {pattern: 'b'},
              {pattern: 'c'},
            ],
          },
        ],
      });
    });

    test('all features', () => {
      assertQueryParse('firefox:pass a | chrome:fail and ( b & c )', {
        and: [
          {browser_name: 'firefox', status: 'PASS'},
          {
            or: [
              {pattern: 'a'},
              {
                and: [
                  {browser_name: 'chrome', status: 'FAIL'},
                  {
                    and: [
                      {pattern: 'b'},
                      {pattern: 'c'},
                    ],
                  },
                ],
              },
            ],
          },
        ],
      });
    });
  });
});
</script>
</body>
</html>
