<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <script src="../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
  <script src="../../bower_components/web-component-tester/browser.js"></script>

  <link rel="import" href="./util/helpers.html">
  <link rel="import" href="../test-runs.html">
</head>
<body>
  <test-fixture id="wpt-results-base-fixture">
    <template>
      <wpt-results-base aligned></wpt-results-base>
    </template>
  </test-fixture>
  <script>
    /* global TestRunsBase, waitingOn, TEST_RUNS_DATA */
    suite('TestRunsBase', () => {
      let sandbox;

      setup(() => {
        sandbox = sinon.sandbox.create();
        sandbox.stub(window, 'fetch', () => Promise.resolve(new Response(TEST_RUNS_DATA)));
      });

      teardown(() => {
        sandbox.restore();
      });

      test('instanceof Polymer.Element', () => {
        assert.isTrue(new TestRunsBase() instanceof window.Polymer.Element);
        assert.isTrue(document.createElement('wpt-results-base') instanceof window.Polymer.Element);
      });

      suite('static get is()', () => {
        test('wpt-results-base', () => {
          assert.equal(TestRunsBase.is, 'wpt-results-base');
        });
      });

      suite('static get properties()', () => {
        test('testRunResources', () => {
          assert.property(TestRunsBase.properties, 'testRunResources');
          assert.property(TestRunsBase.properties.testRunResources, 'type');
          assert.equal(TestRunsBase.properties.testRunResources.type, Array);
        });
        test('testRuns', () => {
          assert.property(TestRunsBase.properties, 'testRuns');
          assert.property(TestRunsBase.properties.testRuns, 'type');
          assert.equal(TestRunsBase.properties.testRuns.type, Array);
        });
      });

      suite('TestRunsBase.prototype.*', () => {
        suite('async loadRuns()', () => {
          let wrbf;

          setup(() => {
            wrbf = fixture('wpt-results-base-fixture');
            wrbf.loadRuns();
          });

          teardown(() => {
            sandbox.reset();
          });

          test('calls window.fetch(...)', () => {
            return waitingOn(() => window.fetch.called)
              .then(() => {
                assert.equal(window.fetch.callCount, 1);
                assert.equal(window.fetch.firstCall.args[0], '/api/runs?aligned');
              });
          });

          test('populates testRuns from fetch', () => {
            assert.equal(wrbf.testRuns, null);
            return waitingOn(() => wrbf.testRuns && wrbf.testRuns.length)
              .then(() => {
                assert.equal(wrbf.testRuns.length, 4);
                assert.equal(wrbf.testRuns[0], TEST_RUNS_DATA[0]);
              });
          });

          test('sets testRunResources to null when done', () => {
            assert.equal(wrbf.testRuns, null);
            return waitingOn(() => wrbf.testRuns && wrbf.testRuns.length)
              .then(() => {
                assert.equal(wrbf.testRunResources, null);
              });
          });
        });
      });
    });
  </script>
</body>
</html>
