<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <script src="../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
  <script src="../../bower_components/web-component-tester/browser.js"></script>

  <link rel="import" href="../test-runs-query-builder.html">
</head>
<body>
  <test-runs-query-builder id="playground"
                           product-specs='["chrome","firefox[experimental]"]'
                           edit
                           debug></test-runs-query-builder>

  <test-fixture id="query-builder-fixture">
    <template>
      <test-runs-query-builder></test-runs-query-builder>
    </template>
  </test-fixture>

  <test-fixture id="product-builder-fixture">
    <template>
      <product-builder></product-builder>
    </template>
  </test-fixture>

  <script>
    /* global CHANNELS */
    document.addEventListener('WebComponentsReady', () => {
      suite('TestRunsQueryBuilder', () => {
        let queryBuilder;

        setup(() => {
          queryBuilder = fixture('query-builder-fixture');
          queryBuilder.products = ['chrome', 'edge']
            .map(s => queryBuilder.parseProductSpec(s));
        });

        test('instanceof Polymer.Element', () => {
          assert.isTrue(queryBuilder instanceof window.Polymer.Element);
        });

        test('add item', () => {
          queryBuilder.addProduct();
          assert.equal(queryBuilder.products.length, 3);
          assert.equal(queryBuilder.products[2].browser_name, 'firefox');
          queryBuilder.addProduct();
          assert.equal(queryBuilder.products.length, 4);
          assert.equal(queryBuilder.products[3].browser_name, 'safari');
        });

        test('delete item', (done) => {
          // Wait for shadow DOM.
          flush(() => {
            const first = queryBuilder.root.querySelector('product-builder');
            first.deleteProduct();
            assert.equal(queryBuilder.products.length, 1);
            assert.equal(queryBuilder.products[0].browser_name, 'edge');
            done();
          });
        });

        test('clear all items', () => {
          // Wait for shadow DOM.
          queryBuilder.clearAll();
          assert.equal(queryBuilder.products.length, 0);
        });

        test('productSpecs', () => {
          queryBuilder.set('products.0.labels', ['beta']);
          assert.equal(queryBuilder.productSpecs[0], 'chrome[beta]');
        });

        test('aligned', () => {
          queryBuilder.aligned = false;
          expect(queryBuilder.testRunQuery).to.not.contain('aligned');
          queryBuilder.aligned = true;
          expect(queryBuilder.testRunQuery).to.contain('aligned');
        });

        test('labels', () => {
          queryBuilder.labelsString = '';
          expect(queryBuilder.testRunQuery).to.not.contain('label');
          queryBuilder.labelsString = 'foo,';
          expect(queryBuilder.testRunQuery).to.contain('label=foo');
          expect(queryBuilder.testRunQuery).to.not.contain('foo,');
          queryBuilder.labels = ['foo', 'bar'];
          expect(queryBuilder.testRunQuery).to.contain('label=foo');
          expect(queryBuilder.testRunQuery).to.contain('label=bar');
        });

        suite('shared channels', () => {
          setup(() => {
            queryBuilder.clearAll();
            queryBuilder.updateQueryParams({
              label: ['stable'],
              product: ['chrome', 'safari'],
            });
          });

          for (const channel of CHANNELS) {
            test(channel, done => {
              flush(() => {
                for (const productBuilder of queryBuilder.shadowRoot.querySelectorAll('product-builder')) {
                  productBuilder._channel = channel;
                }
                expect(queryBuilder.testRunQueryParams.label).to.contain(channel);
                done();
              });
            });
          }
        });

        test('sha', () => {
          const sha = '1234567890';
          queryBuilder.sha = sha;
          expect(queryBuilder.testRunQuery).to.contain(`sha=${sha}`);

          queryBuilder.sha = 'latest';
          expect(queryBuilder.testRunQuery).to.not.contain('sha');
        });

        suite('shas autocomplete', () => {
          let sandbox, queryBuilderSHAState;

          setup(() => {
            sandbox = sinon.sandbox.create();
            sandbox.spy(queryBuilder, 'shasURLUpdated');

            queryBuilderSHAState = queryBuilder.queryBuilderSHA;
            queryBuilder.queryBuilderSHA = true;
          });

          test('/api/shas fetches', () => {
            // Should only trigger a single update, in spite of many params changing.
            queryBuilder.updateQueryParams({ product: ['chrome'], aligned: true, label: ['dev'] });
            expect(queryBuilder.shasURLUpdated.callCount).to.equal(1);
          });

          teardown(() => {
            sandbox.restore();
            queryBuilder.queryBuilderSHA = queryBuilderSHAState;
          });
        });
      });

      suite('ProductBuilder', () => {
        let productBuilder;

        setup(() => {
          productBuilder = fixture('product-builder-fixture');
          productBuilder.product = {browser_name: 'chrome'};
        });

        suite('ProductBuilder.prototype.*', () => {
          suite('_channel', () => {
            test('updates the labels when value changes', () => {
              productBuilder._channel = 'stable';
              assert.isTrue(productBuilder.labels.includes('stable'));
            });
            test('updates the spec when value changes', () => {
              productBuilder._channel = 'dev';
              assert.equal(productBuilder.spec, 'chrome[dev]');
            });

            test('changes value when labels are updated', () => {
              productBuilder.set('labels', ['experimental']);
              assert.equal(productBuilder._channel, 'experimental');
            });
          });
        });
      });
    });
  </script>
</body>
</html>
