<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <script src="../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
  <script src="../../bower_components/web-component-tester/browser.js"></script>

  <link rel="import" href="util/helpers.html">
  <link rel="import" href="../test-search.html">
</head>
<body>
  <test-fixture id="test-search-fixture">
    <template>
      <test-search></test-search>
    </template>
  </test-fixture>

  <script>
    /* global TestSearch */
    suite('<test-search>', () => {
      let tsf = null;

      setup(() => {
        tsf = fixture('test-search-fixture');
      });

      suite('Parser/interpreter', () => {
        const G = TestSearch.QUERY_GRAMMAR;
        const S = TestSearch.QUERY_SEMANTICS;
        const assertQueryParse = (query, structuredQuery) => {
          const p = G.match(query);
          assert.isTrue(p.succeeded());
          assert.deepEqual(structuredQuery, S(p).eval());
        };

        test('simple pattern', () => {
          assertQueryParse('2dcontext', {pattern: '2dcontext'});
        });

        test('browser test status', () => {
          assertQueryParse('cHrOmE:oK', {browserName: 'chrome', status: 'OK'});
        });

        test('pattern + test status', () => {
          assertQueryParse('cssom firefox:timeout', {
            and: [
              {pattern: 'cssom'},
              {browserName: 'firefox', status: 'TIMEOUT'},
            ],
          });
        });

        test('pattern | test status', () => {
          assertQueryParse('cssom or firefox:timeout', {
            or: [
              {pattern: 'cssom'},
              {browserName: 'firefox', status: 'TIMEOUT'},
            ],
          });
        });

        test('implicit and, or', () => {
          assertQueryParse('a b or c', {
            and: [
              {pattern: 'a'},
              {
                or: [
                  {pattern: 'b'},
                  {pattern: 'c'},
                ],
              },
            ],
          });
        });

        test('explicit and, or', () => {
          assertQueryParse('a and b or c', {
            or: [
              {
                and: [
                  {pattern: 'a'},
                  {pattern: 'b'},
                ],
              },
              {pattern: 'c'},
            ],
          });
        });

        test('parens', () => {
          assertQueryParse('a and ( b or c )', {
            and: [
              {pattern: 'a'},
              {
                or: [
                  {pattern: 'b'},
                  {pattern: 'c'},
                ],
              },
            ],
          });
        });

        test('all features', () => {
          assertQueryParse('firefox:pass a | chrome:fail and ( b & c )', {
            and: [
              {browserName: 'firefox', status: 'PASS'},
              {
                or: [
                  {pattern: 'a'},
                  {
                    and: [
                      {browserName: 'chrome', status: 'FAIL'},
                      {
                        and: [
                          {pattern: 'b'},
                          {pattern: 'c'},
                        ],
                      },
                    ],
                  },
                ],
              },
            ],
          });
        })
      });
    });
  </script>
</body>
</html>
