<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <script src="../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
  <script src="../../bower_components/web-component-tester/browser.js"></script>

  <link rel="import" href="../wpt-flags.html">
</head>
<body>
  <wpt-flags-editor id="playground"></wpt-flags-editor>

  <test-fixture id="wpt-flags-fixture">
    <template>
      <wpt-flags></wpt-flags>
    </template>
  </test-fixture>

  <script>
    suite('WPTFlags', () => {
      let flags, queryBuilderStateBefore;

      setup(() => {
        flags = fixture('wpt-flags-fixture');
        queryBuilderStateBefore = flags.queryBuilder;
      });

      test('queryBuilder', () => {
        flags.queryBuilder = true;
        expect(flags.queryBuilder).to.equal(true);
        flags.queryBuilder = false;
        expect(flags.queryBuilder).to.equal(false);
      });

      teardown(() => {
        flags.queryBuilder = queryBuilderStateBefore;
      });
    });
  </script>
</body>
</html>
