<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <script src="../../node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>
  <script src="../../node_modules/wct-browser-legacy/browser.js"></script>
</head>
<body>
  <test-fixture id="wpt-flags-editor-fixture">
    <template>
      <wpt-flags-editor></wpt-flags-editor>
    </template>
  </test-fixture>

  <script type="module">
import { WPTFlags, WPTFlagsEditor } from '../wpt-flags.js';
import { PolymerElement } from '../../node_modules/@polymer/polymer/polymer-element.js';

suite('wpt-flags', () => {
  suite('WPTFlags', () => {
    let flags;

    setup(() => {
      if (!window.customElements.get('wpt-flags')) {
        class ConcreteClass extends WPTFlags(PolymerElement) {}
        window.customElements.define('wpt-flags', ConcreteClass);
      }
      flags = document.createElement('wpt-flags');
    });

    test('queryBuilder', () => {
      const before = flags.queryBuilder;
      flags.queryBuilder = !flags.queryBuilder;
      expect(flags.queryBuilder).to.equal(before);
    });
  });

  suite('WPTFlagsEditor', () => {
    let editor, queryBuilderStateBefore;

    setup(() => {
      editor = fixture('wpt-flags-editor-fixture');
      queryBuilderStateBefore = editor.queryBuilder;
    });

    test('queryBuilder', () => {
      editor.queryBuilder = true;
      expect(editor.queryBuilder).to.equal(true);
      editor.queryBuilder = false;
      expect(editor.queryBuilder).to.equal(false);
    });

    teardown(() => {
      editor.queryBuilder = queryBuilderStateBefore;
    });
  });

  suite('persistence', () => {
    let editor, sandbox;

    setup(() => {
      editor = fixture('wpt-flags-editor-fixture');
      sandbox = sinon.sandbox.create();
    });

    teardown(() => {
      sandbox.restore();
    });

    test('toggling checkboxes updates localStorage', () => {
      assert.isTrue(editor instanceof WPTFlagsEditor);
      editor.queryBuilder = true;
      expect(window.localStorage.getItem('features.queryBuilder')).to.equal('true');
      editor.queryBuilder = false;
      expect(window.localStorage.getItem('features.queryBuilder')).to.equal('false');
    });

    test('click updates localStorage', () => {
      assert.isTrue(editor instanceof WPTFlagsEditor);
      editor.queryBuilder = true;
      expect(window.localStorage.getItem('features.queryBuilder')).to.equal('true');
      const queryBuilder = editor.shadowRoot.querySelector('#queryBuilder');

      const flagUpdated = new Promise(resolve => {
        window.document.addEventListener('flagUpdated', () => resolve(), { once: true });
      });

      queryBuilder.dispatchEvent(new MouseEvent('click'));
      return flagUpdated.then(() => {
        expect(window.localStorage.getItem('features.queryBuilder')).to.equal('false');
      });
    });
  });
});
</script>
</body>
</html>
