<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <script src="../../node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>
  <script src="../../node_modules/wct-browser-legacy/browser.js"></script>

  <script type="module" src="../wpt-amend-metadata.js"></script>
</head>

<body>
  <test-fixture id="wpt-amend-metadata-fixture">
    <template>
      <wpt-amend-metadata></wpt-amend-metadata>
    </template>
  </test-fixture>

  <script type="module">

import '../wpt-amend-metadata.js';
suite('<wpt-amend-metadata>', () => {
  let appFixture = null;
  setup(() => {
    appFixture = fixture('wpt-amend-metadata-fixture');
  });

  test('getTriagedMetadataMap(displayedMetadata)', () => {
    const displayedMetadata = [
      { product: 'firefox', url: 'foo', tests: ['testA', 'testB'] },
      { product: 'chrome', url: 'bar', tests: ['testA', 'testB'] }
    ];
    const expected = {
      'testA': [{ url: 'foo', product: 'firefox' }, { url: 'bar', product: 'chrome' }],
      'testB': [{ url: 'foo', product: 'firefox' }, { url: 'bar', product: 'chrome' }]
    };

    assert.deepEqual(appFixture.getTriagedMetadataMap(displayedMetadata), expected);
  });
  test('populateDisplayData()', () => {
    appFixture.selectedMetadata = [
      { product: 'firefox', test: 'testA' },
      { product: 'firefox', test: 'testB' },
      { product: 'chrome', test: 'testA' },
      { product: 'chrome', test: 'testB' }
    ];
    const expected = [
      { product: 'firefox', url: '', tests: ['testA', 'testB'] },
      { product: 'chrome', url: '', tests: ['testA', 'testB'] }
    ];

    appFixture.populateDisplayData();
    assert.deepEqual(appFixture.displayedMetadata, expected);
  });
});
</script>
</body>

</html>