<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <script src="../../node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>
  <script src="../../node_modules/wct-browser-legacy/browser.js"></script>

  <script type="module" src="../wpt-amend-metadata.js"></script>
</head>

<body>
  <test-fixture id="wpt-amend-metadata-fixture">
    <template>
      <wpt-amend-metadata></wpt-amend-metadata>
    </template>
  </test-fixture>

  <script type="module">

import '../wpt-amend-metadata.js';
suite('<wpt-amend-metadata>', () => {
  let appFixture = null;
  setup(() => {
    appFixture = fixture('wpt-amend-metadata-fixture');
  });

  test('getTriagedMetadataMap(displayedMetadata) with a non-testfile path', () => {
    appFixture.path = '/abc';
    const displayedMetadata = [
      { product: 'firefox', url: 'foo', tests: [{ testname: 'testA' }, { testname: 'testB' }] },
      { product: 'chrome', url: 'bar', tests: [{ testname: 'testA' }, { testname: 'testB' }] }
    ];
    const expected = {
      'testA': [{ url: 'foo', product: 'firefox' }, { url: 'bar', product: 'chrome' }],
      'testB': [{ url: 'foo', product: 'firefox' }, { url: 'bar', product: 'chrome' }]
    };

    assert.deepEqual(appFixture.getTriagedMetadataMap(displayedMetadata), expected);
  });
  test('getTriagedMetadataMap(displayedMetadata) with a testfile path', () => {
    appFixture.path = '/abc/foo.html';
    const displayedMetadata = [
      { product: 'firefox', url: 'foo', tests: [{ testname: 'testA', status: 'FAIL' }, { testname: 'testB', status: 'TIMEOUT' }] },
      { product: 'chrome', url: 'bar', tests: [{ testname: 'testA', status: 'ERROR' }, { testname: 'testB', status: 'FAIL' }] }
    ];
    const resultsFirefox = [{ subtest: 'testA', status: 6 }, { subtest: 'testB', status: 4 }];
    const resultsChrome = [{ subtest: 'testA', status: 3 }, { subtest: 'testB', status: 6 }];
    const expected = {
      '/abc/foo.html': [{ url: 'foo', product: 'firefox', results: resultsFirefox }, { url: 'bar', product: 'chrome', results: resultsChrome }],
    };

    assert.deepEqual(appFixture.getTriagedMetadataMap(displayedMetadata), expected);
  });
  test('populateDisplayData() with a non-testfile path', () => {
    appFixture.path = '/abc';
    appFixture.selectedMetadata = [
      { product: 'firefox', test: 'testA' },
      { product: 'firefox', test: 'testB' },
      { product: 'chrome', test: 'testA' },
      { product: 'chrome', test: 'testB' }
    ];
    const expected = [
      { product: 'firefox', url: '', tests: [{ testname: 'testA' }, { testname: 'testB' }] },
      { product: 'chrome', url: '', tests: [{ testname: 'testA' }, { testname: 'testB' }] }
    ];

    appFixture.populateDisplayData();
    assert.deepEqual(appFixture.displayedMetadata, expected);
  });
  test('populateDisplayData() with a testfile path', () => {
    appFixture.path = '/abc/foo.html';
    appFixture.selectedMetadata = [
      { product: 'firefox', test: 'testA', status: 'FAIL' },
      { product: 'firefox', test: 'testB', status: 'TIMEOUT' },
      { product: 'chrome', test: 'testA', status: 'ERROR' },
      { product: 'chrome', test: 'testB', status: 'FAIL' }
    ];
    const expected = [
      { product: 'firefox', url: '', tests: [{ testname: 'testA', status: 'FAIL' }, { testname: 'testB', status: 'TIMEOUT' }] },
      { product: 'chrome', url: '', tests: [{ testname: 'testA', status: 'ERROR' }, { testname: 'testB', status: 'FAIL' }] }
    ];

    appFixture.populateDisplayData();
    assert.deepEqual(appFixture.displayedMetadata, expected);
  });
  test('getSearchURLHref', () => {
    expect(appFixture.getSearchURLHref('/a/b/*')).to.equal('https://bugs.chromium.org/p/chromium/issues/list?q="/a/b"');
    expect(appFixture.getSearchURLHref('/a/b.html')).to.equal('https://bugs.chromium.org/p/chromium/issues/list?q="/a/b"');
    expect(appFixture.getSearchURLHref('/a/b')).to.equal('https://bugs.chromium.org/p/chromium/issues/list?q="/a/b"');
    expect(appFixture.getSearchURLHref('/a/b.any.html')).to.equal('https://bugs.chromium.org/p/chromium/issues/list?q="/a/b"');
    expect(appFixture.getSearchURLHref('/a/b.worker.html')).to.equal('https://bugs.chromium.org/p/chromium/issues/list?q="/a/b"');
  });
});
</script>
</body>

</html>