<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <script src="../../node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>
  <script src="../../node_modules/wct-browser-legacy/browser.js"></script>
</head>

<body>
  <test-fixture id="wpt-metadata-fixture">
    <template>
      <wpt-metadata></wpt-metadata>
    </template>
  </test-fixture>

  <script type="module">

import '../wpt-metadata.js';
suite('<wpt-metadata>', () => {
  let appFixture = null;
  setup(() => {
    appFixture = fixture('wpt-metadata-fixture');
  });
  suite('compute display metadata', () => {
    test('null case', () => {
      appFixture.path = null;
      appFixture.metadata = {};
      assert.equal(appFixture.displayedMetadata, undefined);
    });
    test('simple case', () => {
      appFixture.searchResults = [{ test: '/foo.html' }];
      appFixture.metadata = {
        '/foo.html': [
          {
            url: 'bug1',
            product: 'chrome'
          }
        ]
      };
      appFixture.path = '/';
      assert.equal(appFixture.displayedMetadata.length, 1);
      assert.equal(appFixture.displayedMetadata[0].test, '/foo.html');
      assert.equal(appFixture.displayedMetadata[0].url, 'https://bug1');
      assert.equal(appFixture.displayedMetadata[0].product, 'chrome');
    });
    test('simple case with same URLs', () => {
      appFixture.searchResults = [{ test: '/foo.html' }];
      appFixture.metadata = {
        '/foo.html': [
          {
            url: 'github1',
            product: 'chrome'
          },
          {
            url: 'github1',
            product: 'edge'
          }
        ]
      };
      appFixture.path = '/';
      assert.equal(appFixture.displayedMetadata.length, 2);
      assert.equal(appFixture.displayedMetadata[0].test, '/foo.html');
      assert.equal(appFixture.displayedMetadata[0].url, 'https://github1');
      assert.equal(appFixture.displayedMetadata[0].product, 'chrome');
      assert.equal(appFixture.displayedMetadata[1].test, '/foo.html');
      assert.equal(appFixture.displayedMetadata[1].url, 'https://github1');
      assert.equal(appFixture.displayedMetadata[1].product, 'edge');
    });
    test('simple case with wildcard', () => {
      appFixture.searchResults = [{ test: '/foo/bar.html' }];
      appFixture.metadata = {
        '/foo/*': [
          {
            url: 'bug1',
            product: 'chrome'
          }
        ]
      };
      appFixture.path = '/foo/bar.html';
      assert.equal(appFixture.displayedMetadata.length, 1);
      assert.equal(appFixture.displayedMetadata[0].test, '/foo/*');
      assert.equal(appFixture.displayedMetadata[0].url, 'https://bug1');
      assert.equal(appFixture.displayedMetadata[0].product, 'chrome');

      appFixture.path = '/foo';
      assert.equal(appFixture.displayedMetadata.length, 1);
      assert.equal(appFixture.displayedMetadata[0].test, '/foo/*');
      assert.equal(appFixture.displayedMetadata[0].url, 'https://bug1');
      assert.equal(appFixture.displayedMetadata[0].product, 'chrome');

      appFixture.path = '/foobar';
      assert.equal(appFixture.displayedMetadata.length, 0);
    });
    test('wildcard without searchResults', () => {
      appFixture.searchResults = [{ test: '/foo/bar/test1.html' }];
      appFixture.metadata = {
        '/foo/bar1/*': [
          {
            url: 'bug1',
            product: 'chrome'
          }
        ]
      };
      appFixture.path = '/foo';

      assert.equal(appFixture.displayedMetadata.length, 0);
    });
    test('exclude path', () => {
      appFixture.searchResults = [{ test: '/foo.html' }, { test: '/bar/f.html' }];
      appFixture.metadata = {
        '/foo.html': [
          {
            url: 'bug1',
            product: 'chrome'
          }
        ],
        '/bar/f.html': [
          {
            url: 'bug2',
            product: 'chrome'
          }
        ]
      };
      appFixture.path = '/foo';
      assert.equal(appFixture.displayedMetadata.length, 1);
      assert.equal(appFixture.displayedMetadata[0].test, '/foo.html');
      assert.equal(appFixture.displayedMetadata[0].url, 'https://bug1');
    });
    test('complex case', () => {
      appFixture.searchResults = [{ test: '/foo.html' }, { test: '/foo/bar.html' }, { test: '/foo/bar/foo1.html' }, { test: '/bar/foo.html' }];
      appFixture.metadata = {
        '/foo.html': [
          {
            url: 'bug1',
            product: 'chrome'
          }
        ],
        '/foo/bar.html': [
          {
            url: 'http://bug2',
            product: 'safari'
          },
          {
            url: 'safari1',
            product: 'safari'
          }
        ],
        '/foo/bar/foo1.html': [
          {
            url: 'https://bug3',
            product: 'chrome'
          }
        ],
        '/bar/foo.html': [
          {
            url: 'bug4',
            product: 'chrome'
          }
        ]
      };
      appFixture.path = '/foo';
      assert.equal(appFixture.displayedMetadata.length, 4);
      assert.equal(appFixture.displayedMetadata[0].test, '/foo.html');
      assert.equal(appFixture.displayedMetadata[0].url, 'https://bug1');
      assert.equal(appFixture.displayedMetadata[1].test, '/foo/bar.html');
      assert.equal(appFixture.displayedMetadata[1].url, 'http://bug2');
      assert.equal(appFixture.displayedMetadata[2].test, '/foo/bar.html');
      assert.equal(appFixture.displayedMetadata[2].url, 'https://safari1');
      assert.equal(appFixture.displayedMetadata[3].test, '/foo/bar/foo1.html');
      assert.equal(appFixture.displayedMetadata[3].url, 'https://bug3');
    });
    test('check duplicates & empty', () => {
      appFixture.searchResults = [{ test: '/foo.html' }, { test: '/bar.html' }];
      appFixture.metadata = {
        '/foo.html': [
          { url: 'bug1', product: 'chrome' },
          { url: 'bug1', product: 'chrome' },
          { url: 'bug1', product: 'chrome' }
        ],
        '/bar.html': [
          { url: '', product: 'chrome' },
          { url: 'bug2', product: 'chrome' },
          { url: '', product: 'chrome' }
        ],
      };
      appFixture.path = '/';
      assert.equal(appFixture.displayedMetadata.length, 2);
      assert.equal(appFixture.displayedMetadata[0].test, '/foo.html');
      assert.equal(appFixture.displayedMetadata[0].url, 'https://bug1');
      assert.equal(appFixture.displayedMetadata[1].test, '/bar.html');
      assert.equal(appFixture.displayedMetadata[1].url, 'https://bug2');
    });
    test('complex case with partial searchResults', () => {
      appFixture.searchResults = [{ test: '/foo/bar/foo1.html' }];
      appFixture.metadata = {
        '/foo.html': [
          { url: 'bug1', product: 'chrome' }
        ],
        '/foo/bar.html': [
          { url: 'bug2', product: 'chrome' },
          { url: 'safari1', product: 'chrome' }
        ],
        '/foo/bar/foo1.html': [
          { url: 'bug3', product: 'chrome' }
        ],
        '/bar/foo.html': [
          { url: 'bug4', product: 'chrome' }
        ]
      };
      appFixture.path = '/foo';
      assert.equal(appFixture.displayedMetadata.length, 1);
      assert.equal(appFixture.displayedMetadata[0].test, '/foo/bar/foo1.html');
      assert.equal(appFixture.displayedMetadata[0].url, 'https://bug3');
    });
    test('simple case for metadataMap', () => {
      appFixture.searchResults = [{ test: '/foo.html' }];
      appFixture.metadata = {
        '/foo.html': [
          {
            url: 'bug1',
            product: 'chrome'
          }
        ]
      };
      appFixture.path = '/';

      assert.equal(Object.keys(appFixture.metadataMap).length, 1);
      const subtestMap = appFixture.metadataMap['/foo.htmlchrome'];
      assert.equal(Object.keys(subtestMap).length, 1);
      assert.equal(subtestMap['/'], 'https://bug1');
    });
    test('metadata with subtests for metadataMap', () => {
      appFixture.searchResults = [{ test: '/foo.html' }];
      appFixture.metadata = {
        '/foo.html': [
          {
            url: 'bug1',
            product: 'chrome',
            results: [{ subtest: 'a' }]
          },
          {
            url: 'bug2',
            product: 'chrome',
            results: [{ subtest: 'b' }]
          }
        ]
      };
      appFixture.path = '/';

      assert.equal(Object.keys(appFixture.metadataMap).length, 1);
      const subtestMap = appFixture.metadataMap['/foo.htmlchrome'];
      assert.equal(Object.keys(subtestMap).length, 2);
      assert.equal(subtestMap['a'], 'https://bug1');
      assert.equal(subtestMap['b'], 'https://bug2');
    });
    test('complex case for metadataMap', () => {
      appFixture.searchResults = [{ test: '/foo.html' }, { test: '/foo/bar.html' }];
      appFixture.metadata = {
        '/foo.html': [
          { url: 'bug1', product: 'chrome', results: [{ subtest: 'a' }, { subtest: 'c' }] },
          { url: 'bug2', product: 'chrome', results: [{ subtest: 'b' }] },
          { url: 'bug3', product: 'chrome', results: [{ status: 'FAIL' }] },
        ],
        '/foo/bar.html': [
          { url: 'bug1', product: 'safari', results: [{ subtest: 'a' }] }
        ]
      };
      appFixture.path = '/foo';

      assert.equal(Object.keys(appFixture.metadataMap).length, 2);
      const fooSubtestMap = appFixture.metadataMap['/foo.htmlchrome'];
      assert.equal(Object.keys(fooSubtestMap).length, 4);
      assert.equal(fooSubtestMap['a'], 'https://bug1');
      assert.equal(fooSubtestMap['c'], 'https://bug1');
      assert.equal(fooSubtestMap['b'], 'https://bug2');
      assert.equal(fooSubtestMap['/'], 'https://bug3');
      const barSubtestMap = appFixture.metadataMap['/foo/bar.htmlsafari'];
      assert.equal(barSubtestMap['a'], 'https://bug1');
    });
  });
});
</script>
</body>

</html>
