<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <script src="../../node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>
  <script src="../../node_modules/wct-browser-legacy/browser.js"></script>

  <script type="module" src="../../views/wpt-app.js"></script>
</head>

<body>
  <test-fixture id="wpt-app-fixture">
    <template>
      <wpt-app></wpt-app>
    </template>
  </test-fixture>

  <script type="module">
import '../../views/wpt-app.js';
import { stubFetch, TEST_RUNS_DATA } from './util/helpers.js';

// Spoof an empty result for API calls to speed up tests.
// Do this as early as possible, before instantiating components.
suiteSetup(() => {
  const fetchSandbox = sinon.sandbox.create();
  stubFetch(fetchSandbox, '/api/(shas|versions|interop)');
});
// No need to restore sandbox: the next test runs in a new window.

suite('<wpt-app>', () => {
  suite('WPTApp.prototype.*', () => {
    let appFixture;

    setup(() => {
      appFixture = fixture('wpt-app-fixture');
      appFixture.path = '/';
      appFixture.testRuns = Array.from(TEST_RUNS_DATA);
    });

    suite('computeResultsTotalsRangeMessage', () => {
      test('absent/zero', () => {
        appFixture.searchResults = null;
        expect(appFixture.resultsTotalsRangeMessage).to.not.contain('0 tests');
        appFixture.searchResults = [];
        expect(appFixture.resultsTotalsRangeMessage).to.not.contain('0 tests');
        appFixture.page = 'results';
        expect(appFixture.resultsTotalsRangeMessage).to.not.contain('0 tests');
      });

      test('single', () => {
        appFixture.searchResults = [
          {test: '/abc.html', legacy_status: [{total: 1}, {total: 1}]},
        ];
        appFixture.page = 'results';
        expect(appFixture.resultsTotalsRangeMessage).to.not.contain('1 tests');
        expect(appFixture.resultsTotalsRangeMessage).to.not.contain('1 subtests');
      });

      test('some sum', () => {
        appFixture.searchResults = [
          {test: '/abc.html', legacy_status: [{total: 1}, {total: 5}]},
          {test: '/def.html', legacy_status: [{total: 2}, {total: 1}]},
        ];
        appFixture.page = 'results';
        expect(appFixture.resultsTotalsRangeMessage).to.contain('2 tests');
        expect(appFixture.resultsTotalsRangeMessage).to.contain('7 subtests');
      });
    });

    suite('computePathIsRootDir ', () => {
      test('root dir', () => {
        assert.isTrue(appFixture.computePathIsRootDir(appFixture.path));
      });
      test('not root dir', () => {
        assert.isFalse(appFixture.computePathIsRootDir('/a/b'));
      });
    });
  });
});
</script>
</body>

</html>
