<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <script src="../../node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>
  <script src="../../node_modules/wct-browser-legacy/browser.js"></script>
</head>
<body>
  <test-fixture id="wpt-interop-fixture">
    <template>
      <wpt-interop></wpt-interop>
    </template>
  </test-fixture>
  <script type="module">
import { waitingOn } from './util/helpers.js';
import { WPTInterop } from '../../views/wpt-interop.js';
import { PolymerElement } from '../../node_modules/@polymer/polymer/polymer-element.js';

suite('WPTInterop', () => {
  const fetches = {};
  let sandbox;

  suiteSetup(async() => {
    const interop = await fetch('fixtures/interop.json').then(r => r.json());
    fetches['/api/interop'] = interop;
    fetches['/api/search'] = interop;
    fetches[interop.url] = await fetch('fixtures/passrates.json').then(r => r.json());
  });

  setup(() => {
    sandbox = sinon.sandbox.create();
    sandbox.stub(window, 'fetch', (url) => {
      const path = new URL(url, window.location).pathname; // Ignore params.
      return Promise.resolve(new Response(JSON.stringify(fetches[path])));
    });
  });

  teardown(() => {
    sandbox.restore();
  });

  test('instanceof Polymer.Element', () => {
    assert.isTrue(new WPTInterop() instanceof PolymerElement);
    assert.isTrue(document.createElement('wpt-interop') instanceof PolymerElement);
  });

  suite('static get is()', () => {
    test('wpt-interop', () => {
      assert.equal(WPTInterop.is, 'wpt-interop');
    });
  });

  suite('WPTInterop.prototype.*', () => {
    let sandbox;

    setup(() => {
      sandbox = sinon.sandbox.create();
      sandbox.spy(PolymerElement.prototype, 'ready');
      fixture('wpt-interop-fixture');
    });

    teardown(() => {
      sandbox.restore();
    });

    test('super.ready()', () => {
      return waitingOn(() => PolymerElement.prototype.ready.called);
    });

    test('fetches interop', () => {
      return waitingOn(() => {
        return window.fetch.getCalls()
          .find(c => c.args.length && c.args[0].pathname === '/api/interop');
      });
    });
  });

});
</script>
</body>
</html>
