{{- /* no data */ -}}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-R9Z49K7QCN"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  // Configure Google Analytics 4
  // TODO: Look into using Google Tag Manager
  // https://github.com/web-platform-tests/wpt.fyi/issues/2919
  // Until then, determine which Google Analytics to use by examining the host
  const host = window.location.hostname;
  if (host == "wpt.fyi"){
    gtag('config', 'G-Q5FRYPBBYC');
  } else {
    // Default to using the staging one
    gtag('config', 'G-R9Z49K7QCN');
  }
  window.onerror = function(message, source, lineno, colno) {
    let description;
    // https://developer.mozilla.org/en-US/docs/Web/API/GlobalEventHandlers/onerror
    if (message.toLowerCase().indexOf('script error') > -1) {
      description = `External error: ${message}`;
    } else {
      description = `${message} at ${source}:${lineno}:${colno}`;
    }
    // https://developers.google.com/analytics/devguides/collection/gtagjs/exceptions
    gtag('event', 'exception', {'description': description});
  };
</script>
