{{- /* no data */ -}}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-89387706-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-89387706-1');
  window.onerror = function(message, source, lineno, colno) {
    let description;
    // https://developer.mozilla.org/en-US/docs/Web/API/GlobalEventHandlers/onerror
    if (message.toLowerCase().indexOf('script error') > -1) {
      description = `External error: ${message}`;
    } else {
      description = `${message} at ${source}:${lineno}:${colno}`;
    }
    // https://developers.google.com/analytics/devguides/collection/analyticsjs/exceptions
    gtag('send', 'exception', {'description': description});
  };
</script>
