<!DOCTYPE html>
<meta charset="utf-8">
<title>Results upload</title>

<link rel="import" href="/bower_components/paper-card/paper-card.html">

<h2>File payload</h2>
<iron-form>
  <form method="POST" enctype="multipart/form-data">
    <paper-input label="User" name="user"></paper-input>
    <paper-input label="Results file" type="file" name="result_file"></paper-input>

    <button type="submit">
      <paper-button raised>Submit</paper-button>
    </button>
  </form>
</iron-form>

<h2>URL payload</h2>
<iron-form>
  <form method="POST">
  <label> user <input name="user"></label><br>
  <label> result_url <input name="result_url"></label><br>
  <input type="submit">
  </form>
</iron-form>
