<!DOCTYPE html>
<meta charset="utf-8">
<title>Results upload</title>

<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/paper-styles/color.html">

<style>
  h2 { clear: both; }
  div.row { display: flex; }
  div.column { margin-right: 100px; }
  div.note {
    background-color: var(--paper-blue-100);
    padding: 5px;
  }
  form {
    max-width: 100%;
    width: 480px;
  }
  button[type="submit"] {
    float: right;
    background: none;
    border: none;
  }
  paper-button.blue {
    background: var(--paper-blue-500);
    color: white;
  }
</style>

<div class="row">

<div class="column">
  <h2>File payload</h2>
  <form method="POST" action="/api/results/upload" enctype="multipart/form-data">
    <paper-input-container>
      <label slot="label">Uploader</label>
      <input name="user" slot="input">
    </paper-input-container>
    <paper-input-container>
      <label slot="label">Results file</label>
      <input name="result_file" type="file" slot="input">
    </paper-input-container>
    <div class="note">
      The following fields override the metadata included in the report. Generally
      speaking, you should only fill these fields if the report doesn't have them.
    </div>
    <paper-input-container>
      <label slot="label">Revision</label>
      <input name="revision" slot="input">
    </paper-input-container>
    <paper-input-container>
      <label slot="label">Browser name</label>
      <input name="browser_name" slot="input">
    </paper-input-container>
    <paper-input-container>
      <label slot="label">Browser version</label>
      <input name="browser_version" slot="input">
    </paper-input-container>
    <paper-input-container>
      <label slot="label">OS name</label>
      <input name="os_name" slot="input">
    </paper-input-container>
    <paper-input-container>
      <label slot="label">OS version</label>
      <input name="os_version" slot="input">
    </paper-input-container>

    <button type="submit">
      <paper-button class="blue" raised>
        Submit
      </paper-button>
    </button>
  </form>
</div>

<div class="column">
  <h2>URL payload</h2>
  <form method="POST" action="/api/results/upload">
    <paper-input-container>
      <label slot="label">Uploader</label>
      <input name="user" slot="input">
    </paper-input-container>
    <paper-input-container>
      <label slot="label">Results URL</label>
      <input name="result_url" slot="input">
    </paper-input-container>
    <div class="note">
      The following fields override the metadata included in the report. Generally
      speaking, you should only fill these fields if the report doesn't have them.
    </div>
    <paper-input-container>
      <label slot="label">Revision</label>
      <input name="revision" slot="input">
    </paper-input-container>
    <paper-input-container>
      <label slot="label">Browser name</label>
      <input name="browser_name" slot="input">
    </paper-input-container>
    <paper-input-container>
      <label slot="label">Browser version</label>
      <input name="browser_version" slot="input">
    </paper-input-container>
    <paper-input-container>
      <label slot="label">OS name</label>
      <input name="os_name" slot="input">
    </paper-input-container>
    <paper-input-container>
      <label slot="label">OS version</label>
      <input name="os_version" slot="input">
    </paper-input-container>

    <button type="submit">
      <paper-button class="blue" raised>
        Submit
      </paper-button>
    </button>
  </form>
</div>
