<!DOCTYPE html>
<html>
<head>
{{ template "_head_common.html" }}
<script type="module">
import '/components/reftest-analyzer.js';

document.body.addEventListener('keydown', e => {
  if (e.which == 49) {
    document.querySelector('reftest-analyzer').selectedImage = 'before';
  } else if (e.which === 50) {
    document.querySelector('reftest-analyzer').selectedImage = 'after';
  }
});
</script>
</head>
<body>
<div id="content">
  <reftest-analyzer before="{{.Before}}"
                    after="{{.After}}">
  </reftest-analyzer>
</div>
{{ template "_ga.html" }}
</body>
</html>
