<!DOCTYPE html>
<html>
<head>
  {{ template "_head_common.html" }}
  <link rel="import" href="/components/interop.html">
</head>
<body>
<div id="content">
  {{ template "_header.html" }}
  <div>
    <wpt-interop {{if .Metadata}}pass-rate-metadata="{{ .Metadata }}"{{end}}
                 {{- with .Filter}}
                   {{- if .Products}} products="{{ .Products }}"{{end}}
                   {{- if .SHA}} sha="{{ .SHA }}" {{end}}
                   {{- if .Labels}} labels="{{ .Labels }}"{{end}}
                   {{- if .Complete}} complete{{end}}
                 {{- end}}></wpt-interop>
  </div>
</div>
{{ template "_ga.html" }}
</body>
</html>
