<!DOCTYPE html>
<html>
<head>
  {{ template "_head_common.html" }}
  <script type="module" src="/components/interop.js"></script>
</head>
<body>
<div id="content">
  <wpt-header></wpt-header>
  <div>
    <wpt-interop {{if .Metadata}}pass-rate-metadata="{{ .Metadata }}"{{end}}
                 {{- with .Filter}}
                   {{- if .Products}} product-specs="{{ .Products }}"{{end}}
                   {{- if .SHAs}} shas="{{ .SHAs }}" {{end}}
                   {{- if .Labels}} labels="{{ .Labels }}"{{end}}
                   {{- if .Aligned}} aligned{{end}}
                 {{- end}}
                 {{if .Query}} search="{{.Query}}"{{end}}></wpt-interop>
  </div>
</div>
{{ template "_ga.html" }}
</body>
</html>
