<!DOCTYPE html>
<html lang="en">
<head>
{{ template "_head_common.html" . }}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <meta name="color-scheme" content="dark light"> -->
  <script type="module" src="/components/interop.js"></script>
</head>
<body>
<div id="content">
  {{if not .Data.Embedded}}
    <wpt-header {{if .User}}user="{{.User.GitHubHandle}}"{{end}}></wpt-header>
  {{end}}
  <interop-dashboard
  {{ if .Data.Year}}year="{{.Data.Year}}"{{end}}></interop-dashboard>
</div>
</body>
</html>
