.lighthouseci/

# The following images are automatically
# fetched via `npm` on `npm install`.
#
# See also: https://github.com/alrra/browser-logos

static/chrome*_64x64.png
static/edge*_64x64.png
static/firefox*_64x64.png
static/safari*_64x64.png
static/servo_64x64.png
static/uc_64x64.png
