name: Update Docker image
on:
  push:
    # Rebuild the image when Dockerfile is changed. This is safe on a PR
    # branch, too -- the automatically built Docker image will be tagged with
    # the branch name instead of "latest".
    paths:
      - 'Dockerfile'
      - '.github/workflows/docker-update.yml'
  schedule:
    # Rebuild the image weekly.
    - cron: '0 0 * * 0'
jobs:
  build-and-push:
    # Forks cannot access secrets so the job would fail.
    if: github.repository == 'web-platform-tests/wpt.fyi'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: elgohr/Publish-Docker-Github-Action@v4
        # https://github.com/elgohr/Publish-Docker-Github-Action
        with:
          name: webplatformtests/wpt.fyi
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}
          dockerfile: Dockerfile
          snapshot: true
